.genres {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-size: inherit;  /*! it's better a `font-size` is set by the <Genres />'s container */
  color: rgb(var(--rgb-neutral-200));

  &[data-multiline="true"] {
    flex-wrap: wrap;
  }
}

.genre {
  flex-shrink: 0;
  white-space: nowrap;

  &:last-child i {
    display: none;
  }
}

/* ------------------------------------------------------------ */
/* shape */
.normal {
  & .genre {
    
  }
}

.chip {
  & .genre {
    padding: 0.5em 0.575em;
    font-size: 85%;
    background-color: rgb(30 36 39 / 35%);
    backdrop-filter: blur(2px);
    border-radius: var(--full-rounded);
    transition: background-color var(--duration-1);
    cursor: pointer;

    &:hover {
      background-color: rgb(110 116 119 / 25%);
    }
  }

  & i {
    display: none;
  }
}
