.genres {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-size: inherit;  /*! it's better a `font-size` is set by the <Genres />'s container */
  color: rgb(var(--rgb-neutral-200));

  & span {
    flex-shrink: 0;
    white-space: nowrap;
  }

  & span:last-child i {
    display: none;
  }

  &[data-multiline="true"] {
    flex-wrap: wrap;
  }
}

/* ------------------------------------------------------------ */
/* shape */
.normal {
  & span {}
}

.chip {
  & span {
    padding: 0.5em;
    font-size: 85%;
    background-color: rgb(30 36 39 / 35%);
    backdrop-filter: blur(2px);
    border-radius: var(--full-rounded);
    cursor: pointer;
  }

  & i {
    display: none;
  }
}
