.overview {
  max-width: min(70ch, 58vw);
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  color: var(--color-neutral-200);
}

@media (width <= 480px) {
  .overview {
    max-width: 80vw;
  }
}
