.container {
  container-name: movie-card;
  container-type: inline-size;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardFigure {
  position: relative;
  overflow: hidden;
  border-radius: 1.5rem;
}

.cardPoster {
  user-select: none;
}

.cardBody {
  width: 100%;
  padding: 0.5rem 0.5rem;
}

.touchWidget {
  position: relative;
}

/* ------------------------------------------------------------ */
/* variant */
.container[data-variant="common"] {
  /* width is roughly clamp(235px, 55vw, 300px) which is set by JS */
  scroll-margin-left: 5px;
  border-radius: 1.5rem;
  box-shadow: var(--box-shadow-1);

  & .cardPoster {
    aspect-ratio: 1.675;
  }

  &[data-screen="small"] {
    & .cardFigure::after {
      content: "";
      position: absolute;
      inset: 0;
      z-index: var(--z-5);
      background-image: linear-gradient(transparent, rgb(11 15 17 / 75%));
    }
  }
}

/* ------------------------------------------------------------ */
.container[data-variant="result"] {
  & .cardBody {
    pointer-events: none;
  }
}

/* ------------------------------------------------------------ */
.container[data-variant="bookmarked"] {
  width: clamp(170px, 40vw, 195px);

  & .cardFigure {
    overflow: unset;

    & > * {
      border-radius: inherit;
    }
  }

  & .cardPoster {
    border-radius: inherit;
  }
}

/* ------------------------------------------------------------ */
.container[data-variant="screen"] {
  --radius: 1.2rem;

  padding: var(--space-2);
  width: clamp(190px, 60vw, 275px);
  background-color: var(--color-neutral-900);
  border-radius: calc(var(--space-2) + var(--radius));
  box-shadow: 0 3px 1.2rem rgb(11 15 17 / 20%),
    0 2px 0.5rem rgb(11 15 17 / 10%);

  & .cardPoster {
    width: 100%;
    aspect-ratio: var(--poster-landscape-ratio);
    border-radius: var(--radius);
  }

  & .cardBody {
    padding-top: 1rem;
  }
}

/* ------------------------------------------------------------ */
.container[data-variant="played"] {
  width: clamp(190px, 50vw, 225px);
}

/* ------------------------------------------------------------ */
.container[data-variant="series"] {
  width: clamp(190px, 65vw, 315px);
}
