.selected-media {
  min-height: 100dvh;
  position: relative;

  & section {
    margin-block: 0;
    padding-inline: 0;
    /* reseting styles applied by <SharedLayout /> */
  }

  & .poster-wrapper {
    height: 90vh;
  
    &::after {
      inset: 0;
      z-index: var(--z-neg5);
      /* background-image: linear-gradient(rgb(11 15 17 / 5%), var(--color-neutral-800)); */
      background-image: linear-gradient(195deg, rgb(11 15 17 / 5%), var(--color-neutral-800) 90%),
        linear-gradient(transparent 60%, var(--color-neutral-800));
    }
  
    & .bg-poster {
      position: relative;
      background-position: 50% 0;
      background-position: 50% 20%;
    }
  }

  & .main-details {
    padding: 0 4rem 1rem;
    gap: 0.5rem;
    position: absolute;
  }

  & .main-title {
    margin-bottom: 0.25rem;
    font-size: min(4rem, 60px);
    font-weight: 600;
    color: var(--color-neutral-100);
  }

  & .details {
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--space-2);
    font-size: 0.8rem;
    color: var(--color-neutral-350);
  }

  & .release-date {
    color: var(--color-neutral-300);
  }

  & .details-wrapper {
    padding: 4.5rem 4rem 1rem;

    & hr {
      margin-block: 3rem;
      max-width: none;
      width: 90%;
      border-top: none;
      /* border-color: var(--color-neutral-400); */
    }

    & .heading {
      margin-bottom: 2rem !important;
      font-size: 1.5rem;
    }
  }

  & .information-table {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 1fr;

    & .col-1 {
      grid-row: 1 / 3;
      grid-column: 1 / 2;
      align-self: center;
    }

    & .col-2 {
      grid-row: 1 / 3;
      grid-column: 2 / 3;
      justify-self: center;
    }

    & .img-poster {
      width: calc(12rem + 3vw);
      overflow: hidden;
      opacity: 0.75;
      border-radius: 1.5rem;
      box-shadow: var(--box-shadow-1);
    }

    & dl {
      margin-top: 3rem;
      padding-inline: 0 3rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
    }

    & .td {
      padding: 1rem 1rem 1rem 0;
      display: flex;
      align-items: center;
      border-bottom: 1px solid var(--color-neutral-500);
    }

    & dt {
      font-weight: 600;
      color: var(--color-neutral-350);
    }

    & dd {
      margin-left: 0.5rem;
    }
  }

  & .visuals {
    min-height: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
  }

  & .related-content {
    overflow: hidden;

    & .related-movies-container {
      width: 90vw;
      overflow-x: scroll;
      scrollbar-width: none;
      gap: 1.5rem;
    }
  }
}


@container main-container (inline-size < 820px) {
  .selected-media {
    & .visuals {
      height: auto;
      grid-template-columns: none;
    }
  }
}

@container main-container (inline-size < 680px) {
  .selected-media {
    & .information-table {
      margin-top: 2rem;
      grid-template-columns: 1fr;
  
      & .col-1 {
        grid-column: 1 / 2;
      }
  
      & .col-2 {
        display: none;
      }
  
      & dl {
        grid-template-columns: 1fr;
        padding: 0;
      }
  
      & dd {
        margin-left: auto;
      }
    }
  }
}

@container main-container (inline-size < 620px) {
  .selected-media {
    & .poster-wrapper {
      height: 80vh;

      &::after {
        background-image: linear-gradient(rgb(11 15 17 / 10%), var(--color-neutral-800) 90%);
      }
    }

    & .main-details {
      padding: 0 2.25rem 1rem;
    }

    & .main-title {
      font-size: 3rem;
    }

    & .details-wrapper {
      padding: 3rem 3rem 1rem;

      & hr {
        margin-block: 2.5rem 2rem;
      }
    }

    & .related-content {
      margin-top: 0;
    }
  }
}

@container main-container (inline-size < 480px) {
  .selected-media {
    & .details-wrapper {
      & hr {
        margin-block: 2rem 1.25rem;
      }
    }
  }
}
