.bookmark-del-btn {
  padding: 5cqw;
  /* width: 22cqw; */
  color: var(--color-neutral-800);

  & svg {
    width: var(--icon-size-5);
  }

  &:hover {
    background-color: var(--color-neutral-300);
  }
}
