.fave-btn {
  width: 3.25rem;
  flex-shrink: 0;
  color: var(--color-neutral-200);
  background-color: transparent;
  border: 1px solid var(--color-neutral-200);
  /* backdrop-filter: blur(5px); */
  transition: background-color var(--duration-1) ease-in,
    border-color var(--duration-1) ease-in,
    color var(--duration-1) ease-in;

  & svg {
    width: var(--icon-size-6);
  }

  &:hover {
    color: var(--color-neutral-800);
    background-color: var(--color-neutral-300);
    border-color: var(--color-neutral-800);
  }

  &.is-faved{
    color: crimson;

    & svg {
      fill: crimson;
    }
  }
}
