.movie-details-modal {
  & .modal-img {
    & figure {
      &::before {
        inset: 0;
        z-index: var(--z-0);
        background-image: linear-gradient(transparent, var(--color-neutral-800));
      }
    }

    & .poster {
      border-radius: 1.25rem;
    }

    & .absolute {
      padding: 0 var(--space-6) var(--space-2);
    }
  }

  & .modal-body {
    padding: var(--space-6) var(--space-6);
  }
  
  & .main-details {
    margin-top: 0.5rem;
    gap: 0.5rem;
    font-size: 0.8rem;
    color: var(--color-neutral-400);
  }

  & .release-date {
    color: var(--color-neutral-300);
  }

  & .sub-details {
    gap: 0.5rem;
    font-size: 0.8rem;

    & h6 {
      font-size: 0.8rem;
      font-weight: 600;
      color: var(--color-neutral-300);
    }

    & .credits {
      margin-top: 0.5rem;
    }
  
    & .director {
      margin-top: 0.5rem;
      & p {
        margin-left: 5px;
      }
    }
  }

  & .btns {
    margin-top: var(--space-10);
    gap: 0.5rem;

    & .price {
      padding: 0.5rem 0.75rem;
      font-size: 1.35rem;
      font-weight: 600;
      color: var(--color-neutral-400);
      background-color: var(--color-neutral-700);
      border-radius: 0.75rem;
    }
  }
}
