.discover-page {
  container: discover-page / inline-size;
  display: flex;
  flex-direction: column;
  /* row-gap: 1rem; */

  & section {
    height: clamp(250px, 35vh, 400px);

    & > header {
      margin-bottom: var(--space-1);
      display: flex;
      align-items: baseline;
    }

    & > header a {
      margin-left: auto;
      display: flex;
      align-items: center;
      gap: 0.5rem;

      & > .icon {
        width: var(--icon-size-4);
      }
      
      & > .icon svg {
        stroke-width: 2px;
      }
    }
  }
}

.movie-list,
.genre-list {
  padding-inline: 3px;
  width: 100%;
  height: 90%;
  display: flex;
  align-items: center;
  gap: 1rem;

  & > * {
    flex-shrink: 0;
  }
}

.intro-section {
  height: unset !important;
  
  & .container {
    padding: var(--space-8);
    background-color: color-mix(in srgb, rgb(37 40 42 / 75%), rgb(47 137 227 / 50%) 10%);
    box-shadow: 0 5px 2rem rgb(11 15 17 / 20%);
    border-radius: 2rem;
  }

  & .intro-text {
    margin-bottom: 2rem;
  }

  & .wrapper {
    display: grid;
    grid-template-columns: repeat(4, minmax(15vw, 1fr));
    grid-template-rows: repeat(1, calc(100px + 4vmin));
    gap: 1rem;
  }

  & .wrapper a {
    --alpha: 85%;
    background-image: url("/texture/tx1.jpg");
    background-size: cover; /**i*/
    background-position: 0% 50%;
    border-radius: 1.2rem;
  }

  & .wrapper .box {
    padding: 1rem;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0% 0%;
    mix-blend-mode: hard-light; /**i*/
    border-radius: 1.2rem;
    transition: background-size var(--duration-3);

    & p {
      align-self: flex-start;
      margin-top: auto;
      font-size: 1.5rem;
      font-weight: 700;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-shadow: 0 5px 18px rgb(11 15 17 / 25%);
    }
  }

  & a:nth-child(1) .box {
    /* background-image: conic-gradient(from 0.5turn at 50% 110%, white, orange); */
    background-image: linear-gradient(
      150deg,
      hsl(21deg 98% 22% / var(--alpha)) 10%, hsl(46deg 92% 45% / var(--alpha)) 60%,
      hsl(7deg 100% 64% / var(--alpha)) 86%, hsl(15deg 91% 47% / var(--alpha)) 98%
    );

    & p {
      background-image: linear-gradient(90deg, rgb(80, 9, 9), rgb(85, 19, 6), rgb(112, 52, 6));
    }
  }

  & a:nth-child(2) .box {
    background-image: linear-gradient(
      150deg,
      hsl(190deg 98% 22% / var(--alpha)) 10%, hsl(193deg 100% 45% / var(--alpha)) 60%,
      hsl(262deg 100% 64% / var(--alpha)) 86%, hsl(285deg 91% 47% / var(--alpha)) 98%
    );

    & p {
      background-image: linear-gradient(90deg, rgb(16, 34, 58), rgb(13, 36, 50));
    }
  }

  & a:nth-child(3) .box {
    background-image: linear-gradient(
      150deg,
      hsl(207deg 98% 22% / var(--alpha)) 10%, hsl(189deg 100% 45% / var(--alpha)) 60%,
      hsl(82deg 72% 60% / var(--alpha)) 86%, hsl(57deg 53% 35% / var(--alpha)) 98%
    );

    & p {
      background-image: linear-gradient(90deg, rgb(16, 34, 58), rgb(13, 36, 50));
    }
  }

  & a:nth-child(4) .box {
    background-image: linear-gradient(
      150deg,
      hsl(320deg 87% 70% / var(--alpha)) 10%, hsl(118deg 79% 66% / var(--alpha)) 60%,
      hsl(196deg 100% 64% / var(--alpha)) 86%, hsl(148deg 68% 36% / var(--alpha)) 98%
    );

    & p {
      background-image: linear-gradient(90deg, rgb(71, 25, 76), rgb(29, 74, 55), rgb(26, 39, 58));
    }
  }

  & .box:hover {
    background-size: 180%;
  }
}

.recommended-section {
  
}


/*----------------------------------------------------------------------------------------------*/
.discover-page :where(.hot-movies-section, .hot-series-section) {
  & h4 {
    color: rgb(233, 176, 77);
  }

  & .fire-icon {
    margin-left: 0.5rem;
    width: var(--icon-size-5);
    color: rgb(233, 176, 77);
  }
}

.news-section {
  --img-radius-1: 1rem;
  /* padding-inline: var(--space-8) !important; */
  height: auto !important;

  article {
    & .article-header {
      margin-block: var(--space-2) var(--space-3);

      & h6 {
        margin-left: 0.25rem;
        font-size: 0.8rem;
        color: var(--color-neutral-800);
      }

      & .fire-icon {
        width: var(--icon-size-4);
        color: rgb(233, 176, 77);
      }
    }

    & .article-img {
      & img {      
        width: 100%;
        border-radius: 1.5rem;
      }
    }
  
    & .article-body {
      margin-top: var(--space-2);
      display: flow-root;

      & .title {
        margin-top: var(--space-2);
        /* max-width: 500px; */
      }

      & p {
        margin-top: 0.5rem;
        font-size: 0.85rem;
        color: var(--color-neutral-350);
      }
    }
  }

  & [href="/discover/news"] {
    margin-top: var(--space-6);
    margin-inline: auto var(--space-6);
    padding: var(--space-3) var(--space-4);
    color: var(--color-accent-400);
    text-decoration: underline transparent;
    border: var(--outline-size-2) solid var(--color-neutral-650);
    border-radius: 0.75rem;
    transition: background-color var(--duration-1),
      text-decoration-color var(--duration-1);
    
    &:hover {
      background-color: var(--color-neutral-650);
      text-decoration-color: currentColor;
    }
  }
}

.news-container {
  display: flex;
  gap: var(--space-8);
}

.latest-news {
  flex: 1;
  max-width: 800px;
  display: grid;
  grid-template-columns: 1fr 200px;
  /* background-color: var(--color-neutral-650); */
  /* border-radius = padding + img's radius (=1.5rem)  */
  border-radius: calc(var(--space-4) + 1.5rem);

  & .side-news {
    padding: var(--space-4);
    position: relative;
    gap: 1rem;
    font-size: 0.8rem;
    
    &::before {
      width: 1.5px;
      height: 75%;
      left: -5px;
      top: 50%;
      translate: 0 -50%;
      background-color: var(--color-neutral-350);
    }
  }

  & article {
    padding: var(--space-5);
    border-radius: calc(var(--space-4) + 1.5rem);
  }
}

.hot-news {
  width: 35%;
  max-width: 450px;
  isolation: isolate;

  & .news-card {
    margin-top: var(--space-2);
    padding: var(--space-3) var(--space-3) var(--space-5);
    position: relative;
    border-radius: calc(var(--space-3) + var(--img-radius-1));
    background-color: var(--color-aliceblue-200);

    &::before {
      z-index: var(--z-neg5);
      inset: 0;
      border-radius: calc(var(--space-2) + var(--img-radius-1));
      background-color: var(--color-orange-500);
      rotate: 3.5deg;
    }

    & .article-img img {
      border-radius: var(--img-radius-1);
    }

    & .title {
      padding-inline: var(--space-1);
      color: var(--color-neutral-900);
    }

    & .cta {
      margin-top: var(--space-6);
      padding-inline: var(--space-4);
      width: 100%;
      display: flex;
      align-items: center;
      gap: var(--space-2);
      font-size: 1.25rem;
      font-weight: 500;
      color: var(--color-neutral-800);

      & .date {
        font-size: 0.75rem;
        color: var(--color-neutral-400);
        text-transform: uppercase;
      }

      & .date + div {
        margin-left: auto;
      }

      & .icon {
        padding: var(--space-2);
        cursor: pointer;
      }
      
      & svg {
        width: var(--icon-size-5);
        stroke-width: 2;
      }
    }
  }
}