.player-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  & .player {
    width: 95%;
    height: 95%;
    position: relative;

    & img.placerholder {
      width: 100%;
    }

    & .topbar,
    & .bottombar {
      width: 100%;
      position: absolute;
      z-index: var(--z-20);
    }

    & .topbar {
      top: 0;
    }

    & .bottombar {
      bottom: 0;
    }
  }
}