.player-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  & .player {
    width: 90%;
    height: 90%;

    & img.placerholder {
      width: 100%;
      height: 100%;
    }
  }
}