.reservation-page {
  & .empty-msg {
    padding: var(--space-4) var(--space-2);
    line-height: 2;

    & a {
      text-decoration: underline;
      color: var(--color-accent-300);
    }
  }

  & .tickets-container {
    padding: var(--space-10);
    padding-bottom: 3.5rem;
    background-color: color-mix(in srgb, rgb(37 40 42 / 75%), rgb(47 137 227 / 50%) 10%);
    border-radius: 2rem;
    box-shadow: 0 5px 2rem rgb(11 15 17 / 20%);
  }
}

.onscreen-page {
  & header {
    & p {
      margin-top: 0.5rem;
      font-size: 0.8rem;
      color: var(--color-neutral-300);
    }
  }

  & .movies-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 250px), 1fr));
    gap: 2rem 1.75rem;
  }
}

.onscreen-page {
  --opacity: 0;
  --scale: 1;
  /* cursor: none; */

  & .pointer {
    display: none;
  }

  /* & .pointer {
    pointer-events: none;
    width: 1rem;
    aspect-ratio: 1;
    position: absolute;
    z-index: var(--z-100);
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: color-mix(in srgb, var(--color-accent-300) 95%, transparent);
    opacity: var(--opacity);
    transition: var(--duration-1);
    
    & div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      z-index: 10;
      inset: 0;
      opacity: 0;
  
      &.is-hover {
        opacity: 1;
      }
    }
  
    & svg {
      width: 0.35rem;
      display: block;
      position: relative;
      top: -1px;
      left: 0.625px;
    }
  
    & span {
      display: inline-block;
      font-size: 0.125rem;
      font-weight: 600;
      color: var(--color-neutral-200);
    }
  } */
}
