.search-page {
  display: grid;
  /** `minmax(auto, min(35vw, 325px))` this should  equal to <aside>'s width */
  grid-template-columns: minmax(auto, min(35vw, 325px)) 1fr;
  grid-template-rows: auto auto;

  & aside {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin-top: var(--space-8);
  }

  & main {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin-top: var(--space-8);
  }

  & .heading {
    font-family: Georgia, serif;
    
    & .searched-title {
      margin-left: var(--space-1);
      font-family: Ubuntu, sans-serif;
      letter-spacing: 0.0225em;
      color: var(--color-accent-200);
    }

    & span::selection {
      background-color: var(--color-neutral-100);
    }
  }
}

.search-page main {
  padding-inline: var(--space-8);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  & header {
    padding-block: var(--space-4) var(--space-6);
    padding-inline: var(--space-2);
    width: 100%;

    &::after {
      width: 98%;
      height: 1px;
      bottom: 0; left: 50%;
      translate: -50% 0;
      background-color: var(--color-neutral-600);
    }
  }
}

.results-container {
  margin-block: var(--space-8) var(--space-4);
  width: 100%;
  max-width: 1200px;
}

.search-results {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 150px), 1fr));
  gap: 1.25rem 1.75rem;
}
