.selected-series {
  min-height: 100dvh;
  position: relative;

  & .btns {
    padding: var(--space-6) var(--space-6);
    position: absolute;
    top: 0;
    z-index: var(--z-50);
    gap: 0.75rem;
  }

  & .network {
    padding: 0.5rem;
    background-color: aliceblue;

    & .network-logo {
      width: 100px;
    }
  }

  & .poster-wrapper {
    height: 90vh;
  
    &::after {
      inset: 0;
      z-index: var(--z-neg5);
      background-image: linear-gradient(195deg, rgb(10 13 15 / 5%), var(--color-neutral-800) 90%),
        linear-gradient(transparent 60%, var(--color-neutral-800));
    }
  
    & .bg-poster {
      position: relative;
      background-position: 50% 0;
      background-position: 50% 25%;
    }
  }

  & .main-details {
    padding: 0 var(--space-10) var(--space-4);
    gap: 0.5rem;
    position: absolute;
    bottom: 4rem;
  }

  & .title {
    margin-bottom: 0.25rem;
    font-size: min(4rem, 60px);
    font-weight: 600;
    color: var(--color-neutral-100);
  }
  
  & .details {
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--space-2);
    font-size: 0.8rem;
    color: var(--color-neutral-350);
  }

  & .release-date {
    color: var(--color-neutral-300);
  }

  & .sm-credits {
    font-size: 0.85rem;

    & h6 {
      font-size: 1rem !important;
      font-weight: 500 !important;
      color: color-mix(in srgb, var(--color-accent-400) 60%, transparent) !important;
    }

    & .creators {
      margin-top: 0.5rem;

      & .creator-name {
        margin-left: 5px;
      }

      & p:last-child span {
        display: none;
      }
    }
  }

  & .details-wrapper {
    padding-block: 2rem;
    padding-inline: 2rem;
    gap: 3rem;

    & .heading {
      margin-bottom: 2rem;
    }

    & hr {
      width: 90%;
      max-width: none;
    }
  }

  & .seasons-container {
    & .seasons {
      overflow-x: scroll;
      scrollbar-width: none;
      justify-content: flex-start;
      gap: 2rem;
  
      & .season {
        width: max(10%, 165px);
        /* width: 170px; */
        position: relative;
      }
  
      & .season-poster {
        border-radius: 1.5rem;
      }

      & .season-name {
        /* position: absolute;
        bottom: 0.5rem;
        z-index: var(--z-10); */
        font-size: 0.9rem;
      }
    }
  }

  & .visuals {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  & .trailers {
    & iframe {
      width: 305px;
      aspect-ratio: 16 / 9;
      border-radius: 1.5rem;
      /* box-shadow: 0 2px 1rem rgb(10 13 15 / 75%); */
    }

    & .ytp-title-channel {
      display: none !important;
    }
  }

  & .additional-details {
    margin-top: 4.5rem;
    padding: 0 var(--space-10) var(--space-6);
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
  }

  & .side-content {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    margin-top: 2rem;
    width: min(325px, 30vw);
    height: 100%;
    
    &::before {
      width: 1px;
      height: 90%;
      left: -1.5rem;
      top: 50%;
      translate: 0 -46%;
      background-color: var(--color-neutral-550);
    }

    & h3 {
      margin-left: 1rem;
    }
    
    & .related-movies-container {
      margin-top: 2rem;
      margin-right: 1rem;
      padding-top: 1rem;
      padding-left: 1rem;
      height: 75vh;
      overflow-y: scroll;
      scrollbar-width: none;
      flex-direction: column;
      align-items: flex-start;
      align-items: center;
      gap: 1.625rem;
    }
  }

  & .rates {
    grid-column: 1 / 2;
  }

  & .information {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
  }
  
  & .credits {
    margin-top: 2rem;

    & .tag {
      margin-bottom: 0.75rem;
    }

    & .director {
      margin-top: 2rem;
      gap: 0.25rem;
    }
    
    & .casts {
      /* margin-top: 2rem; */
      max-width: 100%;
    }
  }  
}
