.selected-movie {
  min-height: 100dvh;
  position: relative;

  & .btns {
    padding: var(--space-6) var(--space-6);
    position: absolute;
    top: 0;
    z-index: var(--z-50);
    gap: 0.75rem;
  }

  & .poster-wrapper {
    height: 90vh;

    &::after {
      inset: 0;
      z-index: var(--z-neg5);
      background-image: linear-gradient(rgb(10 13 15 / 5%), var(--color-neutral-800));
    }

    & .bg-poster {
      position: relative;
      background-position: 50% 0;
    }
  }

  & .main-details {
    padding: 0 var(--space-10) var(--space-4);
    gap: 0.5rem;
    position: absolute;
    bottom: 0.5rem;
  }

  & .title {
    margin-bottom: 0.25rem;
    font-size: min(4rem, 60px);
    font-weight: 600;
    color: var(--color-neutral-100);
  }
  
  & .details {
    margin-bottom: 1rem;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--space-2);
    font-size: 0.8rem;
    color: var(--color-neutral-350);
  }

  & .release-date {
    color: var(--color-neutral-300);
  }

  & .icons {
    margin-left: auto;

    & .icon {
      margin-inline: var(--space-2);
      width: var(--icon-size-6);
    }
  }

  & .cta-btns {
    gap: 1rem;

    & .btn {
      border-radius: var(--full-rounded);
      transition: color var(--duration-1) ease-in,
        background-color var(--duration-1) ease-in;
    }

    & .watch-btn {
      padding: 0.85rem 2rem;
      gap: 0.25rem;
      background-color: var(--color-accent-600);

      & svg {
        margin-left: -8px;
        width: var(--icon-size-5);
      }
    }
  
    & .trailer-btn {
      font-weight: 500;
      padding: 0.85rem 1.75rem;
      border: var(--outline-size-2) solid var(--color-neutral-300);

      &:hover {
        color: var(--color-neutral-800);
        background-color: var(--color-neutral-300);
      }
    }
  }

  & .sub-details {
    margin-top: 4.5rem;
    padding: 0 var(--space-10) var(--space-6);
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto;
  }

  & .side-content {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    margin-top: 2rem;
    width: min(380px, 25vw);
    height: 100%;
    
    &::before {
      width: 1px;
      height: 90%;
      left: -2.5rem;
      top: 50%;
      translate: 0 -50%;
      /* background-color: var(--color-neutral-550); */
    }
    
    & .related-movies-container {
      margin-top: 2rem;
      height: 75vh;
      overflow-y: scroll;
      scrollbar-width: none;
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
    }
  }

  & .rates {
    grid-column: 1 / 2;
  }

  & .information {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
  }
  
  & .credits {
    margin-top: 2rem;

    & .tag {
      margin-bottom: 0.75rem;
    }

    & .director {
      margin-top: 2rem;
      gap: 0.25rem;
    }
    
    & .casts {
      /* margin-top: 2rem; */
      max-width: 100%;
    }
  }
  

  /* & .img-poster {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    width: calc(12rem + 3vw);
    overflow: hidden;
    opacity: 0.26;
    border-radius: 1.5rem;
    box-shadow: var(--box-shadow-1);
  } */
}
