.userstuff-page {
  & .container {
    padding: var(--space-10);
    padding-bottom: 3.5rem;
    background-color: color-mix(in srgb, rgb(37 40 42 / 75%), rgb(47 137 227 / 50%) 10%);
    border-radius: 2rem;
    box-shadow: 0 5px 2rem rgb(11 15 17 / 20%);
  }

  & .empty-msg {
    padding: var(--space-4) var(--space-2);
    line-height: 2;

    & a {
      text-decoration: underline;
      color: var(--color-accent-300);
    }
  }

  & .cta {
    margin-top: var(--space-6);
    display: flex;

    & button {
      margin-inline: auto var(--space-4);
      padding: var(--space-3) var(--space-4);
      font-weight: 500;
      background-color: var(--color-red-500);
      border-radius: 0.5rem;
      transition: background-color var(--duration-1) ease-in;

      &:hover {
        background-color: var(--color-red-300);
      }
    }
  }
}

.played-section {
  & .played-container:has(.grid-item) {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 165px), 1fr));
    gap: 2rem 1.75rem;
    font-size: 0.8rem;
  }
}

.watchlist-section {
  & .empty-watchlist-msg {
    & .icon {
      margin-inline: var(--space-2);
      padding: var(--space-2);
      vertical-align: bottom;
      color: var(--color-neutral-200);
      background-color: rgb(20 23 26 / 15%);
      backdrop-filter: blur(5px);
      border-radius: 0.625rem;
      border: var(--outline-size-1) solid var(--color-neutral-400);

      & svg {
        width: var(--icon-size-6);
      }
    }
  }

  & .movies-container:has(.grid-item) {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 160px), 1fr));
    gap: 3rem 1.75rem;
  }
}


/*- create separate component? */
.bookmark-confirmation-box-backdrop {
  position: absolute;
  z-index: var(--z-50);
  inset: 0;
  background-color: rgb(37 40 42 / 65%);
  backdrop-filter: blur(5px);
}

.bookmark-confirmation-box {
  padding: var(--space-6);
  width: clamp(320px, 55%, 600px);
  position: absolute;
  z-index: var(--z-50);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-neutral-700);
  box-shadow: 0 4px 1.25rem rgb(16 21 24 / 50%);
  border-radius: 1.25rem;

  & .btns {
    margin-top: var(--space-6);
    margin-inline: auto var(--space-2);
    display: flex;
    gap: 1rem;
  }

  & .btn {
    padding: var(--space-2) var(--space-3);
    border-radius: 0.5rem;
  }

  & .cancel-btn {
    background-color: var(--color-neutral-500);
  }

  & .del-btn {
    background-color: var(--color-red-300);
  }
}
