@layer reset, defaults, typo, global, components;


@layer components {
  #root {
    margin-inline: auto;
    max-width: 1750px;
    height: 100%;
    position: relative;
    isolation: isolate;
  }

  .overlay {
    position: absolute;
    inset: 0;
    z-index: var(--z-20);
    display: flex;
    flex-direction: column;
  }

  .btn {
    display: inline-grid;
    place-items: center;
    font-weight: 500;
  }

  .icon {
    display: inline-grid;
    place-items: center;
    aspect-ratio: 1 / 1;

    & svg {
      min-width: 14px;
      max-width: 36px;
    }
  }
}

@layer global {
  [data-presence] {
    height: 100%;
  }

  .bg-poster {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: var(--z-neg10);
    background-size: cover;
    background-position: 50% 15%;
    background-repeat: no-repeat;
  }

  :root {
    --base-size: 1rem;
    --space-1: calc(0.25 * var(--base-size));
    --space-2: calc(0.5 * var(--base-size));
    --space-3: calc(0.75 * var(--base-size));
    --space-4: calc(1 * var(--base-size));
    --space-5: calc(1.25 * var(--base-size));
    --space-6: calc(1.5 * var(--base-size));
    --space-7: calc(1.75 * var(--base-size));
    --space-8: calc(2 * var(--base-size));
    --space-9: calc(2.5 * var(--base-size));
    --space-10: calc(3 * var(--base-size));
    --space-11: calc(3.5 * var(--base-size));
    --space-12: calc(4 * var(--base-size));
    --outline-size-1: 1px;
    --outline-size-2: 0.07525rem;
    --outline-size-3: 2px;
    --outline-size-4: 2.5px;
    --full-rounded: 9999px;
    --z-neg20: -20;
    --z-neg10: -10;
    --z-neg5: -5;
    --z-0: 0;
    --z-5: 5;
    --z-10: 10;
    --z-20: 20;
    --z-50: 50;
    --z-100: 100;
    --z-max: 9999;
    --duration-1: 135ms;
    --duration-2: 215ms;
    --duration-3: 300ms;
    --box-shadow-1: 0 3px 1.24rem rgb(11 15 17 / 50%),
      0 2px 0.5rem rgb(11 15 17 / 10%);

    --rgb-neutral-0: 246 250 254;
    --rgb-neutral-50: 238 243 247;
    --rgb-neutral-100: 223 229 234;
    --rgb-neutral-200: 195 206 219;
    --rgb-neutral-300: 163 173 184;
    --rgb-neutral-400: 132 142 148;
    --rgb-neutral-500: 66 72 75;
    --rgb-neutral-600: 50 59 62;
    --rgb-neutral-700: 44 48 53;
    --rgb-neutral-800: 35 40 44;
    --rgb-neutral-900: 29 34 37;
    --rgb-neutral-950: 22 27 31;
    --rgb-neutral-1000: 16 20 22;
    
    --rgb-opaque-dark: (11 15 17);

    --color-orange-300: rgb(245 197 24);
    --color-orange-500: rgb(255 165 00);
    --color-red-300: rgb(182 38 43);
    --color-red-500: rgb(151 28 32);
    --color-red-600: brown;
    --color-aliceblue-200: rgb(240 248 255);
  
    --icon-size-1: 0.25rem;
    --icon-size-2: 0.5rem;
    --icon-size-3: 0.75rem;
    --icon-size-4: 1rem;
    --icon-size-5: 1.25rem;
    --icon-size-6: 1.5rem;
    --icon-size-7: 1.75rem;
    --icon-size-8: 2rem;
    --poster-landscape-ratio: 1.75;
    --poster-portrait-ratio: 0.665;

    --safe-space-to-scroll-bottom-nav: 90px;
    
    --page--inline-padding: 1.75rem;
    --page-heading: 2rem;
    --page-heading-mb: 1rem;
    --sub-heading: 1.5rem;
    --sub-heading-mb: 1.75rem;
    --card-title: 1rem;
  }

  [data-theme="dark"] {
    --color-neutral-50: rgb(var(--rgb-neutral-50));
    --color-neutral-100: rgb(var(--rgb-neutral-100));
    --color-neutral-200: rgb(var(--rgb-neutral-200));
    --color-neutral-300: rgb(var(--rgb-neutral-300));
    --color-neutral-400: rgb(var(--rgb-neutral-400));
    --color-neutral-500: rgb(var(--rgb-neutral-500));
    --color-neutral-600: rgb(var(--rgb-neutral-600));
    --color-neutral-700: rgb(var(--rgb-neutral-700));
    --color-neutral-800: rgb(var(--rgb-neutral-800));
    --color-neutral-900: rgb(var(--rgb-neutral-900));
    --color-neutral-950: rgb(var(--rgb-neutral-950));
  
    --base-text-color: var(--color-neutral-100);
    --base-bg-color: var(--color-neutral-950);
    --sidenav-bg: color-mix(in srgb, var(--color-neutral-950), rgb(5, 11, 14));
  }
  
  [data-theme="light"] {
    --color-neutral-950: #f9fafb;
    --color-neutral-900: #f3f4f6;
    --color-neutral-800: #e5e7eb;
    --color-neutral-700: #d1d5db;
    --color-neutral-600: #9ca3af;
    --color-neutral-500: #6b7280;
    --color-neutral-400: #4b5563;
    --color-neutral-300: #374151;
    --color-neutral-200: #1f2937;
    --color-neutral-100: #111827;
    --color-neutral-50: #030712;
  
    --base-text-color: var(--color-neutral-100);
    --base-bg-color: var(--color-neutral-950);
    --sidenav-bg: color-mix(in srgb, var(--color-neutral-950), #fefefe);
  }
  
  [data-accent="pink"] {
    --color-accent-100: #E48A94;
    --color-accent-200: #DA697A;
    --color-accent-300: #D3546A;
    --color-accent-400: #C74361;
    --color-accent-500: #BA3A5C;
    --color-accent-600: #A72A4B;
  }
  
  [data-accent="violet"] {
    --color-accent-100: #a78bfa;
    --color-accent-200: #8b5cf6;
    --color-accent-300: #7c3aed;
    --color-accent-400: #6d28d9;
    --color-accent-500: #5b21b6;
    --color-accent-600: #4c1d95;
    --color-accent-700: #2e1065;
  }
  
  /* [data-accent="indigo"] {
  
  } */
}

@layer typo {
  html {
    font-size: clamp(13.75px, 50% + 0.725vw, 17px);
  }
  
  body {
    font-family: Montserrat, Calibri, sans-serif;
    line-height: 1.475;
    color: var(--base-text-color);
    background-color: var(--base-bg-color);
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: Ubuntu, sans-serif;
    letter-spacing: 0.325px;
    line-height: 1.15;
  }

  h1 {
    font-size: 1.875rem;
    font-weight: 700;
    letter-spacing: 0.4px;
  }

  h2 {
    font-size: 1.65rem;
    font-weight: 700;
    letter-spacing: 0.4px;
  }

  h3 {
    font-size: 1.375rem;
    font-weight: 500;
  }

  h4 {
    font-size: 1.25rem;
    font-weight: 500;
  }

  h5 {
    font-size: 1.15rem;
    font-weight: 500;
  }

  h6 {
    font-size: 1.05rem;
    font-weight: 500;
  }
}

@layer defaults {
  ::selection {
    background-color: var(--color-accent-600);
  }

  ::-webkit-scrollbar {
    width: 0;
    display: none;
  }

  ::-webkit-scrollbar-button {
    display: none;
  }

  ::-webkit-scrollbar-corner {
    display: none;
  }
 
  ::-webkit-scrollbar-track {
    background-color: var(--color-neutral-800);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--color-neutral-500);
  }

  html {
    min-height: 100%;
    display: grid;
    scrollbar-width: none;
    scrollbar-color: var(--color-neutral-500) var(--color-neutral-800);
    background-color: var(--color-neutral-950);
  }

  body {
    height: 100%;
  }

  body:has(dialog[open], .modal) {
    overflow: hidden;
  }

  i {
    display: inline-block;
    text-align: center;
    font-style: normal;
  }

  a {
    display: inline-block;
    text-underline-offset: 2px;
    text-decoration-skip-ink: auto;
    cursor: default;
  }

  label {
    display: inline-block;
  }

  input {
    font-size: 1rem;
  }

  input[type="checkbox"],
  input[type="radio"] {
    width: 0;
    height: 0;
    opacity: 0;
  }

  button {
    font-size: 0.9rem;
  }
}

@layer reset {
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }

  html {
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
  }

  body {
    box-sizing: border-box;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  ul,
  ol {
    list-style: none;
  }

  table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse;
  }

  input,
  textarea,
  select,
  optgroup,
  option {
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    border: none;
  }

  input::placeholder,
  textarea::placeholder {
    font-size: inherit;
    font-weight: inherit;
  }

  button {
    text-align: center;
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    background-color: transparent;
    background-image: none;
    border: none;
  }

  img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }

  video {
    max-width: 100%;
    height: auto;
  }

  img,
  svg,
  canvas,
  video,
  audio,
  iframe {
    display: inline-block;
    vertical-align: bottom;
  }

  iframe {
    border: 0;
  }

  :where(:focus, :active) {
    outline: none;
  }
}


@font-face {
  font-family: Montserrat;
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
  src: local("Montserrat"),
    url("/fonts/Montserrat-400.ttf") format("truetype");
}

@font-face {
  font-family: Montserrat;
  font-weight: 400;
  font-style: italic;
  font-display: fallback;
  src: url("/fonts/Montserrat-400-italic.ttf") format("truetype");
}

@font-face {
  font-family: Montserrat;
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
  src: local("Montserrat"),
    url("/fonts/Montserrat-500.ttf") format("truetype");
}

@font-face {
  font-family: Montserrat;
  font-weight: 600;
  font-style: normal;
  font-display: fallback;
  src: local("Montserrat"),
    url("/fonts/Montserrat-600.ttf") format("truetype");
}

@font-face {
  font-family: Montserrat;
  font-weight: 600;
  font-style: italic;
  font-display: fallback;
  src: local("Montserrat"),
    url("/fonts/Montserrat-600-italic.ttf") format("truetype");
}

@font-face {
  font-family: Montserrat;
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
  src: local("Montserrat"),
    url("/fonts/Montserrat-700.ttf") format("truetype");
}

@font-face {
  font-family: Ubuntu;
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
  src: local("Ubuntu"),
    url("/fonts/Ubuntu-400.ttf") format("truetype");
}

@font-face {
  font-family: Ubuntu;
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
  src: local("Ubuntu"),
    url("/fonts/Ubuntu-500.ttf") format("truetype");
}

@font-face {
  font-family: Ubuntu;
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
  src: local("Ubuntu"),
    url("/fonts/Ubuntu-700.ttf") format("truetype");
}

/*-------------------------------------------*/
/* @font-face {
  font-family: Hauora;
  font-weight: 300;
  font-style: normal;
  font-display: fallback;
  src: local("Hauora"),
    url("/fonts/Hauora-300.woff2") format("woff2");
} */
