@layer reset, defaults, typo, global, components, utilities;


@layer utilities {  
  .isolated-stack {
    position: relative;
    isolation: isolate;
  }

  .truncate {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .box-clamp {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    /* setting a default line-clamp */
    -webkit-line-clamp: 3;
  }

  .unselectable {
    pointer-events: none;
    user-select: none;
  }

  .snap-x-proximity {
    overflow-x: scroll;
    scroll-snap-type: x proximity;
    scrollbar-width: none;

    /* setting a default snap-align for direct children */
    & > * {
      scroll-snap-align: start;
    }
  }

  .\:\:before-abs {
    position: relative;
    &::before {
      content: "";
      position: absolute;
    }
  }

  .\:\:after-abs {
    position: relative;
    &::after {
      content: "";
      position: absolute;
    }
  }

  .absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
  }

  .absolute-align-center {
    position: absolute;
    top: 50%;
    translate: 0 -50%;
  }

  .absolute-justify-center {
    position: absolute;
    left: 50%;
    translate: -50% 0;
  }

  .grid {
    display: grid;
  }

  .grid-center {
    display: grid;
    place-items: center;
  }

  .grid-item {
    min-width: 0;
  }

  .flex {
    display: flex;
  }

  .flex-wrap {
    display: flex;
    flex-wrap: wrap;
  }

  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .flex-col-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .align-center {
    display: flex;
    align-items: center;
  }

  .justify-center {
    display: flex;
    justify-content: center;
  }

  .flex-col {
    display: flex;
    flex-direction: column;
  }

  .align-center-col {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .justify-center-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .flex-item {
    min-width: 0;
    flex-shrink: 0;
  }

  .shrink-0 {
    flex-shrink: 0;
  }

  .w-100 {
    width: 100%;
  }

  .h-100 {
    height: 100%;
  }

  .mx-center {
    margin-inline: center;
  }
}

@layer components {
  #root {
    margin-inline: auto;
    max-width: 1750px;
    height: 100%;
    position: relative;
    isolation: isolate;
    background-color: var(--color-neutral-800);
  }

  .modal {
    position: fixed;
    z-index: var(--z-50);
    top: 45%;
    left: 50%;
    translate: -50% -50%;
    background-color: var(--color-neutral-700);
    box-shadow: var(--box-shadow-1);
    border-radius: 1.25rem;
  }

  .modal-backdrop {
    position: fixed;
    z-index: var(--z-50);
    inset: 0;
    background-color: rgb(37 40 42 / 65%);
    backdrop-filter: blur(5px);
  }

  .overlay {
    position: absolute;
    inset: 0;
    z-index: var(--z-20);
    display: flex;
    flex-direction: column;
  }

  .btn {
    display: inline-grid;
    place-items: center;
  }

  .icon {
    display: inline-grid;
    place-items: center;
    aspect-ratio: 1 / 1;

    & svg {
      min-width: 15px;
      max-width: 36.25px;
    }
  }
}

@layer global {
  .shared-layout {
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: auto 1fr;

    & main {
      grid-column: 2 / 3;
      padding-bottom: var(--safe-space-to-scroll-bottom-nav);
      width: 100%;
      position: relative;
      container: main-container / inline-size;
      overflow-x: scroll;
      scrollbar-width: none;
      display: flex;
      flex-direction: column;

      & > * {
        flex-shrink: 0;
      }

      & section {
        margin-block: var(--space-7);
        padding-inline: var(--space-6);
      }
    
      & section > header {
        margin-bottom: var(--space-6);
      }
    }
  }

  /* .cta-btns {
    display: flex;
  } */

  .main-btn {
    padding: var(--space-2);
    display: inline-grid;
    place-items: center;
    aspect-ratio: 1;
    border-radius: 0.625rem;
    background-color: color-mix(in srgb, var(--color-neutral-200), transparent 45%);
    backdrop-filter: blur(5px);
    transition: background-color var(--duration-1) ease-in;
    
    &:hover {
      background-color: color-mix(in srgb, var(--color-neutral-200), transparent 35%);
    }
  }

  .dot,
  .overlay-dot {
    scale: 1.375;
    color: var(--color-neutral-350);
  }

  .bg-poster {
    width: 100%;
    height: 100%;
    z-index: var(--z-neg10);
    background-size: cover;
    background-repeat: no-repeat;
  }

  :root {
    --base-size: 1rem;
    --space-1: calc(0.25 * var(--base-size));
    --space-2: calc(0.5 * var(--base-size));
    --space-3: calc(0.75 * var(--base-size));
    --space-4: calc(1 * var(--base-size));
    --space-5: calc(1.25 * var(--base-size));
    --space-6: calc(1.5 * var(--base-size));
    --space-7: calc(1.75 * var(--base-size));
    --space-8: calc(2 * var(--base-size));
    --space-9: calc(2.5 * var(--base-size));
    --space-10: calc(3 * var(--base-size));
    --space-11: calc(3.5 * var(--base-size));
    --space-12: calc(4 * var(--base-size));
    --outline-size-1: 1px;
    --outline-size-2: 0.07525rem;
    --outline-size-3: 0.1375rem;
    --outline-size-4: 2.5px;
    --full-rounded: 9999px;
    --z-neg20: -20;
    --z-neg10: -10;
    --z-neg5: -5;
    --z-0: 0;
    --z-5: 5;
    --z-10: 10;
    --z-20: 20;
    --z-50: 50;
    --z-100: 100;
    --z-max: 9999;
    --duration-1: 150ms;
    --duration-2: 220ms;
    --duration-3: 300ms;
    --box-shadow-1: 0 3px 1.24rem rgb(11 15 17 / 50%),
      0 2px 0.5rem rgb(11 15 17 / 10%);

     /*
     this works...
    --rgb-neutral-200: 221 229 235;
    --test: rgb(var(--rgb) / 20%);
    instead of   bg: color-mix(var(--color-neutral-200), transparent 40%)
    write        bg: rgb(var(--rgb-neutral-200) / 40%)
     */
    --color-neutral-100: rgb(234 239 243);
    --color-neutral-150: rgb(228 234 239);
    --color-neutral-200: rgb(221 229 235);
    --color-neutral-250: rgb(208 218 227);
    --color-neutral-300: rgb(195 206 219);
    --color-neutral-350: rgb(163 173 184);
    --color-neutral-400: rgb(131 140 148);
    --color-neutral-450: rgb(99 106 112);
    --color-neutral-500: rgb(66 71 75);
    --color-neutral-550: rgb(58 63 66);
    --color-neutral-600: rgb(50 55 57);
    --color-neutral-650: rgb(44 48 50);
    --color-neutral-700: rgb(37 40 42);
    --color-neutral-750: rgb(32 34 37);
    --color-neutral-800: rgb(26 28 31);
    --color-neutral-850: rgb(22 24 26);
    --color-neutral-900: rgb(17 19 21);
    /* --c: #161b22; */
    --color-accent-100: #E48A94;
    --color-accent-200: #DA697A;
    --color-accent-300: #D3546A;
    --color-accent-400: #C74361;
    --color-accent-500: #BA3A5C;
    --color-accent-600: #A72A4B;
    --color-orange-300: rgb(245 197 24);
    --color-orange-500: rgb(255 165 00);
    --color-red-300: rgb(182 38 43);
    --color-red-500: rgb(151 28 32);
    --color-aliceblue-200: rgb(240 248 255);
  
    --rgb-opaque-dark: (11 15 17);
  
    --icon-size-1: 0.25rem;
    --icon-size-2: 0.5rem;
    --icon-size-3: 0.75rem;
    --icon-size-4: 1rem;
    --icon-size-5: 1.25rem;
    --icon-size-6: 1.5rem;
    --icon-size-7: 1.75rem;
    --icon-size-8: 2rem;
    --poster-landscape-ratio: 1.75;
    --poster-portrait-ratio: 0.665;
    --safe-space-to-scroll-bottom-nav: 85px;
  }
}

@layer typo {
  html {
    /* font-size: clamp(12.5px, 55% + 0.725vw, 18.25px); */
    font-size: clamp(14px, 50% + 0.725vw, 18.5px);
    text-rendering: optimizeLegibility;
  }
  
  body {
    font-family: Montserrat, Calibri, sans-serif;
    color: var(--color-neutral-200);
    line-height: 1.475;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: Ubuntu, sans-serif;
    letter-spacing: 0.325px;
    line-height: 1.15;
  }

  h1 {
    font-size: 1.875rem;
    font-weight: 700;
    letter-spacing: 0.4px;
  }

  h2 {
    font-size: 1.65rem;
    font-weight: 700;
    letter-spacing: 0.4px;
  }

  h3 {
    font-size: 1.35rem;
    font-weight: 500;
  }

  h4 {
    font-size: 1.25rem;
    font-weight: 500;
  }

  h5 {
    font-size: 1.15rem;
    font-weight: 500;
  }

  h6 {
    font-size: 1.05rem;
    font-weight: 500;
  }
}

@layer defaults {
  ::selection {
    background-color: var(--color-accent-600);
  }

  ::-webkit-scrollbar {
    width: 0;
    display: none;
  }

  ::-webkit-scrollbar-button {
    display: none;
  }

  ::-webkit-scrollbar-corner {
    display: none;
  }
 
  ::-webkit-scrollbar-track {
    background-color: var(--color-neutral-700);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--color-neutral-500);
  }

  /* * {
    min-width: 0;
  } */

  html {
    min-height: 100%;
    display: grid;
    scrollbar-width: none;
    scrollbar-color: var(--color-neutral-500) var(--color-neutral-700);
    background-color: var(--color-neutral-800);
  }

  body {
    height: 100%;
  }

  body:has(dialog[open], .modal) {
    overflow: hidden;
  }

  i {
    display: inline-block;
    text-align: center;
  }

  a {
    display: inline-block;
    text-underline-offset: 2px;
    text-decoration-skip-ink: auto;
    cursor: default;
  }

  hr {
    margin-block: var(--space-2);
    margin-inline: auto;
    width: 80%;
    max-width: 750px;
    border: none;
    border-top: 2px solid var(--color-neutral-650);
  }

  label {
    display: inline-block;
  }

  input {
    font-size: 1rem;
  }

  input[type="checkbox"],
  input[type="radio"] {
    width: 0;
    height: 0;
    opacity: 0;
  }

  button {
    font-size: 0.9rem;
  }
}

@layer reset {
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    box-sizing: border-box;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  ul,
  ol {
    list-style: none;
  }

  table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse;
  }

  input,
  textarea,
  select,
  optgroup,
  option {
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    border: none;
  }

  input::placeholder,
  textarea::placeholder {
    font-size: inherit;
    font-weight: inherit;
  }

  button {
    text-align: center;
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    background-color: transparent;
    background-image: none;
    border: none;
  }

  img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }

  video {
    max-width: 100%;
    height: auto;
  }

  img,
  svg,
  canvas,
  video,
  audio,
  iframe {
    display: inline-block;
    vertical-align: bottom;
  }

  iframe {
    border: 0;
  }

  :where(:focus, :active) {
    outline: none;
  }
}

@font-face {
  font-family: Montserrat;
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
  src: local("Montserrat"),
    url("/fonts/Montserrat-400.ttf") format("truetype");
}

@font-face {
  font-family: Montserrat;
  font-weight: 400;
  font-style: italic;
  font-display: fallback;
  src: url("/fonts/Montserrat-400-italic.ttf") format("truetype");
}

@font-face {
  font-family: Montserrat;
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
  src: local("Montserrat"),
    url("/fonts/Montserrat-500.ttf") format("truetype");
}

@font-face {
  font-family: Montserrat;
  font-weight: 600;
  font-style: normal;
  font-display: fallback;
  src: local("Montserrat"),
    url("/fonts/Montserrat-600.ttf") format("truetype");
}

@font-face {
  font-family: Montserrat;
  font-weight: 600;
  font-style: italic;
  font-display: fallback;
  src: local("Montserrat"),
    url("/fonts/Montserrat-600-italic.ttf") format("truetype");
}

@font-face {
  font-family: Montserrat;
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
  src: local("Montserrat"),
    url("/fonts/Montserrat-700.ttf") format("truetype");
}

@font-face {
  font-family: Ubuntu;
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
  src: local("Ubuntu"),
    url("/fonts/Ubuntu-400.ttf") format("truetype");
}

@font-face {
  font-family: Ubuntu;
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
  src: local("Ubuntu"),
    url("/fonts/Ubuntu-500.ttf") format("truetype");
}

@font-face {
  font-family: Ubuntu;
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
  src: local("Ubuntu"),
    url("/fonts/Ubuntu-700.ttf") format("truetype");
}

/*-------------------------------------------*/
/* @font-face {
  font-family: Hauora;
  font-weight: 300;
  font-style: normal;
  font-display: fallback;
  src: local("Hauora"),
    url("/fonts/Hauora-300.woff2") format("woff2");
} */
