@font-face {
  font-family: Montserrat;
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
  src: local("Montserrat"),
    url("/fonts/Montserrat-400.ttf") format("truetype");
}

@font-face {
  font-family: Montserrat;
  font-weight: 400;
  font-style: italic;
  font-display: fallback;
  src: url("/fonts/Montserrat-400-italic.ttf") format("truetype");
}

@font-face {
  font-family: Montserrat;
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
  src: local("Montserrat"),
    url("/fonts/Montserrat-500.ttf") format("truetype");
}

@font-face {
  font-family: Montserrat;
  font-weight: 600;
  font-style: normal;
  font-display: fallback;
  src: local("Montserrat"),
    url("/fonts/Montserrat-600.ttf") format("truetype");
}

@font-face {
  font-family: Montserrat;
  font-weight: 600;
  font-style: italic;
  font-display: fallback;
  src: local("Montserrat"),
    url("/fonts/Montserrat-600-italic.ttf") format("truetype");
}

@font-face {
  font-family: Montserrat;
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
  src: local("Montserrat"),
    url("/fonts/Montserrat-700.ttf") format("truetype");
}

@font-face {
  font-family: Ubuntu;
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
  src: local("Ubuntu"),
    url("/fonts/Ubuntu-400.ttf") format("truetype");
}

@font-face {
  font-family: Ubuntu;
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
  src: local("Ubuntu"),
    url("/fonts/Ubuntu-500.ttf") format("truetype");
}

@font-face {
  font-family: Ubuntu;
  font-weight: 700;
  font-style: normal;
  font-display: fallback;
  src: local("Ubuntu"),
    url("/fonts/Ubuntu-700.ttf") format("truetype");
}

/* @font-face {
  font-family: Hauora;
  font-weight: 300;
  font-style: normal;
  font-display: fallback;
  src: local("Hauora"),
    url("/fonts/Hauora-300.woff2") format("woff2");
} */
