.main-header {
  padding: var(--space-4) var(--space-6); /* the `padding-block` matches the `padding-block` of <SideNav /> */
  width: 100%;
  display: flex;
  align-items: center;
  /* position: sticky; */
  /* z-index: var(--z-50); */
  /* background-image: color-mix(in srgb, var(--color-neutral-700) 85%, transparent);
  backdrop-filter: blur(20px); */

  & .header-content {
    flex: 1;
  }

  & .user-related {
    & .icon {
      width: var(--icon-size-6);
      color: color-mix(in srgb, var(--color-neutral-300), var(--color-neutral-400));
    }
  
    & .bell-icon,
    & .login-link {
      margin-inline: var(--space-2);
    }
  }
}
