header.main-header {
  padding: var(--space-4) var(--space-8); /* the `padding-block` matches the `padding-block` of <SideNav /> */
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  position: sticky;
  z-index: var(--z-50);

  & a > .icon {
    margin-inline: var(--space-2);
    width: var(--icon-size-8);
  }

  & .user-icon {
    color: color-mix(in srgb, var(--color-neutral-300), var(--color-neutral-400));
  }
}
