.movie-card {
  container: movie-card / inline-size;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  & .title {
    width: 75%;
  }

  & .vote {
    display: flex;
    align-items: center;
    color: var(--color-orange-300);

    & .vote-number {
      margin-inline: 2cqw;
    }

    & .star-icon svg {
      fill: var(--color-orange-300);
    }
  }

  & .hover-overlay {
    position: absolute;
    z-index: var(--z-20);
    inset: 0;
  }
}

/*-------------------------------------------------------------------------------------------------------*/
.movie-card[data-variant="screen"] {
  --radius: 1.2rem;
  --padding: var(--space-3);

  padding: var(--padding) var(--padding) var(--space-4);
  position: relative;
  background-color: color-mix(in srgb, var(--color-neutral-700), transparent 55%);
  border-radius: calc(var(--space-4) + var(--radius));
  box-shadow: 0 3px 1.24rem rgb(10 15 17 / 50%), 
    0 2px 0.5rem rgb(10 15 17 / 10%);
  
  & .poster {
    width: 100%;
    aspect-ratio: var(--poster-landscape-ratio);
    border-radius: var(--radius);
  }

  & .title {
    align-self: flex-start;
    margin-top: 5cqw;
    margin-left: 2cqw;
    text-align: start;
    font-size: clamp(12px, 0.5rem + 2cqw, 17px);
  }

  & .details {
    align-self: flex-start;
    margin-top: 2cqw;
    margin-inline: 2cqw;
    width: 100%;
    display: flex;
    align-items: center;
  }

  & .vote {
    margin-inline: auto 2cqw;
    gap: 0.25rem;

    & .vote-number {
      margin-top: 2px; /* hacky */
      font-size: clamp(10px, 0.5rem + 1.5cqw, 13px);
    }
  }

  & .runtime {
    font-size: clamp(10px, 0.5rem + 1.5cqw, 13px);
    color: var(--color-neutral-400);
  }
}


/*-------------------------------------------------------------------------------------------------------*/
.movie-card[data-variant="series"] {
  --radius: 1.2rem;
  --padding: var(--space-3);

  padding: var(--padding) var(--padding) var(--space-4);
  position: relative;
  background-color: color-mix(in srgb, var(--color-neutral-700), transparent 55%);
  border-radius: calc(var(--space-4) + var(--radius));
  box-shadow: 0 3px 1.24rem rgb(10 15 17 / 50%), 
    0 2px 0.5rem rgb(10 15 17 / 10%);

  & .poster {
    border-radius: 1.5rem;
  }

  & .title {
    margin-top: 1cqh;
    margin-left: 2cqw;
    text-align: start;
    font-size: 0.9rem;
  }
}


/*-------------------------------------------------------------------------------------------------------*/
.movie-list:has(:hover) .movie-card[data-variant="list"]:not(:has(:hover)) {
  opacity: 0.6;
}

.movie-card[data-variant="list"] {
  width: clamp(175px, 18vw, 300px);
  scroll-margin-left: 3px; /* related to the visibility of the left-outline. it works with 1.5px but 3px is safer */
  border-radius: 1.5rem;
  box-shadow: var(--box-shadow-1);
  outline: 1.5px solid transparent;
  outline-offset: 0;
  transition: opacity var(--duration-2) ease-out,
    outline-color var(--duration-2) ease-in;

  &:hover {
    outline-color: color-mix(in srgb, var(--color-neutral-400), transparent);
  }

  & .wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 1.5rem;
  }

  & .poster {
    aspect-ratio: 1.65;
  }

  & .hover-overlay {
    padding: 3cqw 6cqw;
    font-size: 0.85rem;
    background-color: rgb(15 18 20 / 65%);
  }

  & .title {
    margin-top: auto;
    width: unset;
  }

  & .details {
    margin-top: var(--space-2);
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    color: var(--color-neutral-300);
    font-weight: 500;

    & .dot {
      margin-top: -1px; /* hacky */
      scale: 1.35;
    }

    & .runtime {
      letter-spacing: -0.25px;
    }

    & .vote {
      color: inherit;

      & .vote-number {
        margin-left: 2px;
      }
    }

    & .star-icon svg {
      fill: var(--color-neutral-300);
    }
  }

  & .cta-btns {
    margin-block: var(--space-4);
    display: flex;
    gap: 0.5rem;
  }

  & button {
    overflow: hidden;
    border-radius: 0.5rem;
    backdrop-filter: blur(5px);
    
    & .icon {
      padding: var(--space-2);
      color: var(--color-neutral-800);
      background-color: color-mix(in srgb, var(--color-neutral-200), transparent 55%);
      cursor: pointer;
      transition: background-color var(--duration-1) ease-in;
    }

    & .play-icon {
      color: var(--color-neutral-300);
      background-color: var(--color-accent-500);

      &:hover {
        color: var(--color-neutral-800);
      }
    }

    & svg {
      width: var(--space-4);
      stroke-width: 1.75;
      transition: color var(--duration-1) ease-in;
    }

    & .is-bookmarked svg {
      fill: var(--color-neutral-800);
    }

    & .icon:hover {
      background-color: var(--color-neutral-300);
    }
  }

  /* & .ambient {
    position: absolute;
    inset: 0;
    z-index: var(--z-neg5);
    background-size: cover;
    background-position: center;
    opacity: 0.35;
    filter: blur(15px);
  } */
}

/*-------------------------------------------------------------------------------------------------------*/
.movie-card[data-variant="played"] {

  & figure {
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
  }

  & .title {
    margin-top: 8cqw;
    align-self: flex-start;
    font-size: 0.95rem;
  }

  & .bar {
    height: max(3px, 0.35vh);
    width: 85%;
    position: absolute;
    bottom: max(3.5px, 0.4vh);
    left: 50%;
    translate: -50% 0;
    background-color: crimson;
    border-radius: 10px;
  }

  & .hover-overlay {
    background-color: rgb(10 15 17 / 45%);

    & button {
      padding: 8cqw;
      gap: 0.5rem;
      background-color: color-mix(
        in srgb, var(--color-neutral-500) 75%, transparent
      );
      border-radius: 1rem;
      cursor: pointer;
    }

    & .icon {
      width: var(--icon-size-4);
    }
  }
}

/*-------------------------------------------------------------------------------------------------------*/
.movie-card[data-variant="bookmarked"] {
  --img-radius: 1.5rem;
  min-width: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  & figure {
    position: relative;

    & .poster {
      max-height: 350px;
      border-radius: var(--img-radius);
    }

    & .ambient {
      width: 103%;
      height: 103%;
      position: absolute;
      bottom: -1rem;
      z-index: var(--z-neg5);
      background-size: cover;
      opacity: 0.45;
      filter: blur(20px);
      border-radius: var(--img-radius);
    }
  }

  & .title-container {
    align-self: flex-start;
    margin-left: 2px;
    margin-top: 1.5cqh;
    width: 100%;
    max-width: calc(350px * var(--poster-portrait-ratio));
    position: relative;
  }

  & .title {
    width: 95%;
    position: absolute;
    top: 0;
    font-size: 1rem;
  }

  &:hover .title {
    white-space: wrap;
  }

  & .details {
    width: 100%;
    position: absolute;
    bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  & .hover-overlay {
    font-size: 0.8rem;
    background-image: linear-gradient(
      180deg, rgb(10 15 17 / 35%), rgb(10 15 17 / 80%)
    );
    border-radius: var(--img-radius);

    & .remove-icon {
      padding: 5cqw;
      position: absolute;
      top: 10cqw;
      left: 10cqw;
      background-color: rgb(165 165 165 / 35%);
      backdrop-filter: blur(5px);
      border-radius: 0.5rem;
      cursor: pointer;

      & svg {
        width: var(--icon-size-5);
      }
    }

    & .star-icon {
      width: var(--icon-size-4);
    }
  }
}

/*-------------------------------------------------------------------------------------------------------*/
.movie-card[data-variant="result"] { 
  & .subset-details {
    position: relative;
    isolation: isolate;
  }

  & :is(.media-icon, .bookmark-icon) {
    width: 22cqw;
    max-width: 45px;
    border-radius: var(--full-rounded);

    & svg {
      width: 60%;
      stroke-width: 1.75;
    }
  }

  & .media-icon {
    position: absolute;
    z-index: var(--z-20);
    top: 7.5cqw;
    left: 7.5cqw;
    background-color: rgb(220 220 220 / 62.5%);
    backdrop-filter: blur(3px);
    transition: opacity var(--duration-1), translate var(--duration-2);

    & svg {
      stroke: var(--color-neutral-800);
    }
  }
  
  & figure {
    overflow: hidden;
    position: relative;
    z-index: var(--z-10);
    border-radius: 1rem;
    cursor: pointer;
    transition: scale var(--duration-1);

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background-image: linear-gradient(180deg, rgb(35 35 35 / 55%) -5%, rgb(20 20 20 / 90%));
      opacity: 0;
      transition: all var(--duration-1);
    }

    & .poster {
      max-height: 300px;
      transition: opacity var(--duration-1);
    }
  }

  & .main-details {
    width: 100%;
    height: max(45px, 4.25rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: var(--z-50);
  }

  & .title {
    margin-top: 1cqh;
    text-align: center;
    transition: 
      translate 250ms cubic-bezier(0.92, 0.15, 0.5, 1.5), 
      width var(--duration-2) ease-out;
  }

  & .release-date {
    margin-top: 1cqw;
    font-size: max(0.75rem + 1cqw, 14px + 0.2vw);
    transition: translate var(--duration-2), opacity var(--duration-1);
    transition-timing-function: ease-in;
  }
  
  .hover-overlay {
    display: grid;
    align-items: center;
    translate: 0 1rem;
    opacity: 0;
    transition: var(--duration-1);
  
    & .bookmark-icon {
      position: absolute;
      top: 5cqw;
      left: 5cqw;
      background-color: rgb(150 150 150 / 62.5%);
      backdrop-filter: blur(4px);
      translate: 5cqw 5cqw;
      opacity: 0;
      transition: translate var(--duration-2), opacity var(--duration-1);
  
      & svg {
        stroke: var(--color-neutral-300);
      }
    }
  
    & .genres {
      margin-top: -1.5rem;
      display: inline-flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 2.5cqw;
  
      & .genre {
        padding: 4cqw;
        font-size: calc(0.5rem + 0.75cqw);
        background-color: rgb(150 150 150 / 50%);
        backdrop-filter: blur(3px);
        border-radius: var(--full-rounded);
      }
    }
    
    & .vote {
      position: absolute;
      right: 0.75rem;
      top: 0.75rem;
  
      & .vote-number {
        margin-inline: 2cqw;
        font-size: 0.75rem;
      }
  
      & .star-icon {
        width: 9cqw;
      }
    }
  }
}

.movie-card[data-variant="result"]:hover {
  & .media-icon {
    translate: 5cqw 5cqw;
    opacity: 0;
  }

  & figure {
    scale: 1.1;
    box-shadow: 0 3px 0.5rem rgb(10 15 17 / 75%);

    &::after {
      opacity: 1;
    }
  }

  & .title {
    width: 90%;
    overflow: unset;
    white-space: unset;
    translate: 0 -7.5cqh;
    scale: 1.05;
  }

  & .release-date {
    translate: 0 -7cqh;
    opacity: 0;
  }

  & .hover-overlay {
    translate: 0 -2.5%;
    opacity: 1;

    & .bookmark-icon {
      translate: 0;
      opacity: 1;
    }
  }
}
