/*
⚠️ except "errors.css" & "skeleton.css", all <<media|container queries>> are placed here.

📢 TODO: this file will be shrinked as much as possible soon
*/
/********************************************************************************************************/
/** on home page */
@media (width <= 520px) {
  .home-page {
    grid-template-columns: 1fr;
  }

  .home-content {
    grid-column: 1 / -1;
    padding-bottom: var(--safe-space-to-scroll-bottom-nav);
  }
}

@media (width <= 460px) {
  .library-page {
    & .heading {
      font-size: 1.5rem;
    }
  }

  .movie-card[data-variant="played"] {
    & .title {
      margin-top: 4cqw;
      font-size: 1.15rem;
    }
  }

  .movie-card[data-variant="bookmarked"] {
    & .title-container {
      align-self: unset;
      height: 1rem;
    }

    & .title {
      font-size: 1.35rem;
    }
  }
}


@container home-content-container (width <= 1300px) {
  .hero-section {
    padding-inline: var(--space-6);
  }

  .screen-scetion {
    & .pointer {
      width: 1.25rem;

      & svg {
        width: 0.5rem;
      }
      
      & span {
        font-size: 0.15rem;
      }
    }
  }
}

@container home-content-container (width <= 1150px) { 
  .hero-section {
    grid-template-columns: repeat(5, 1fr);
  }

  .hero-movie {
    grid-column: 1 / 5;
  }

  .grid-container {
    padding: var(--space-6);
  }

  .carousel-container {
    --img-width: 8.25rem;
    --gap: 0.75rem;
    grid-column: 5 / 6;
  }

  .draggable-wrapper .draggable {
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 20vw), 1fr));
  }
}

@container home-content-container (width <= 900px) {
  .hero-section {
    padding-inline: var(--space-5);
  }

  .hero-movie {
    grid-column: 1 / 6;
  }

  .carousel-container {
    display: none;
  }
}

@container home-content-container (width <= 620px) {
  .draggable-wrapper .draggable {
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 180px), 1fr));
  }
}

@media (width <= 520px) {
  .home-page {
    & .draggable-wrapper .draggable {
      grid-auto-flow: column;
      grid-auto-columns: clamp(220px + 2vw, 16vw, 275px);
      grid-template-columns: unset;
    }
  }
}


@container grid-container (width <= 820px) {
  .grid-item-title {
    grid-column: 1 / 5;
  }

  .title {
    font-size: min(50px, 2.5rem);
  }

  .release-date {
    margin-top: 2cqw;
  }

  .genres {
    font-size: 0.65rem;
  }

  .cta-btns {
    grid-column: 1 / 5;
    grid-row: 5 / 6;
    font-size: 0.75rem;
  }

  .btn-shared {
    font-weight: 400;
    font-size: 0.8rem;
  }

  .tagline {
    grid-column: 1 / 3;
    font-size: 0.65rem;
  }

  .rate-container {
    grid-column: 5 / 6;
    justify-self: end;

    & .helper-div {
      flex-flow: row;
    }
  }

  .director {
    grid-column: 5 / 6;
    justify-self: end;
    width: max-content;

    & p:first-child {
      text-align: end;
      font-size: 0.6rem;
    }

    & .director-name {
      font-size: 0.75rem;
    }
  }
}

@container grid-container (width <= 600px) {
  .cta-btns {
    grid-column: 1 / 5;
    grid-row: 5 / 6;
  }

  .tagline {
    display: none;
  }
}

@container grid-container (width <= 450px) {
  .grid-item-title {
    grid-column: 1 / 4;
    margin-top: 1rem;
    width: auto;
  }

  .title {
    font-size: 1.625rem;
  }

  .release-date {
    font-size: 1rem;
  }

  .cta-btns {
    font-size: 0.7rem;

    & .watch-btn {
      width: 5rem;

      & .icon {
        width: var(--icon-size-3);
      }
    }
  }
}

/********************************************************************************************************/
@media (width <= 720px) {
  .onscreen-page {
    & .movies-container {
      gap: 1.5rem 1.25rem;
    }
  }
}


/********************************************************************************************************/
/** on results page */
@media (width <= 620px) {
  .search-page {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;

    & aside {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      width: unset;
      height: auto;
      position: unset;
    }

    & main {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
      margin-top: var(--space-4);
    }
  }

  .search-page .search-results {
    row-gap: 2.25rem;
  }
}

@container movie-card (width > 165px) {
  .movie-card[data-variant="result"] {
    & .title {
      font-size: calc(1rem + 1cqw);

      @media (width <= 520px) {
        font-size: 1.5rem;
      }
    }

    & .genres {
      gap: 3cqw;
    }

    & .genre {
      font-size: calc(0.5rem + 2cqw);
    }
  }
}

@container movie-card (width > 250px) {
  .movie-card[data-variant="result"] {
    & .media-icon {
      width: 13cqw;
      height: 13cqw;
      top: 6cqw;
      left: 6cqw;
    }

    & .bookmark-icon {
      width: 13cqw;
      height: 13cqw;
    }

    & .star-icon {
      width: 6cqw;
      height: 6cqw;
    }

    & .genres {
      gap: 2cqw;
    }

    & .genre {
      padding: 2cqw;
      font-size: 0.875rem;
    }
  }
}
