/* TODO: this file will be shrinked as much as possible soon */
/********************************************************************************************************/
@media (width <= 520px) {
  .home-content {
    grid-column: 1 / -1;
    padding-bottom: var(--safe-space-to-scroll-bottom-nav);
  }
}

@container home-page (width <= 1300px) {
  .screen-scetion {
    & .pointer {
      width: 1.25rem;

      & svg {
        width: 0.5rem;
      }
      
      & span {
        font-size: 0.15rem;
      }
    }
  }
}

/***********************************************/
.genre-movies-container .movie-card[data-variant="common"] {
  width: auto !important;
}

/********************************************************************************************************/
@media (width <= 720px) {
  .screen-movies {
    & .movies-container {
      gap: 1.5rem 1.25rem;
    }
  }
}
