.search-box {
  --box-width: 2.75rem;
  --box-height: 2.75rem;
  
  width: var(--box-width);
  height: var(--box-height);
  display: flex;
  position: relative;
  overflow: hidden;
  font-size: 1.2rem;
  color: var(--color-neutral-700);
  border-radius: var(--rounded-full);
  transition: all var(--duration-1) ease-in, outline var(--duration-1) 120ms;

  &:focus-within {
    outline: var(--outline-size-2) solid var(--color-accent-300);
    outline-offset: 1px;
  }

  &.expanded {
    width: 14rem;
  }

  /* to preserve the outline when it is expanded but not focued  */
  &.expanded[data-location="on-home-page"] {
    outline: var(--outline-size-2) solid var(--color-accent-300);
    outline-offset: 1px;
  }
  
  &[data-location="on-home-page"] {
    margin-left: var(--space-2);
    color: var(--color-neutral-200);
    
    & .search-input {
      background-color: var(--color-neutral-800);

      &::placeholder {
        color: var(--color-neutral-200-opaque);
      }
    }

    & .search-icon {
      color: var(--color-neutral-200);
    }
  }

  &[data-location="on-result-page"] {
    width: max(300px, 60%);
    height: calc(var(--box-width) + 0.1vw);
    /* box-shadow: 0 0.2rem 1rem rgb(0 0 0 / 20%); */

    & .icon-wrapper {
      height: 100%;
      aspect-ratio: 1.25;
      right: 0.5rem;
    }

    & .search-input {
      padding-inline: var(--space-4);
    }
  }

  @media (width > 990px) {
    --box-width: 2.5rem;
    --box-height: 2.5rem;
  }
}

.icon-wrapper {
  width: var(--box-width);
  height: var(--box-height);
  position: absolute;
  z-index: 10;
  display: inline-grid;
  place-items: center;
  cursor: pointer;
}

.search-icon {
  width: var(--icon-size-6);
  height: var(--icon-size-6);
  position: absolute;
  left: calc(50% - (var(--icon-size-6) / 2));
  top: calc(50% - (var(--icon-size-6) / 2));
  border-radius: var(--rounded-full);
}

.search-box > label {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: var(--rounded-full);
  transition: all var(--duration-1) ease-in;
}

.search-input {
  width: 100%;
  height: 100%;
  padding: var(--space-2);
  padding-left: calc(var(--box-width) + 0.5vw);
  background-color: var(--color-neutral-200);
  transition: all var(--duration-1) ease-in;

  &::placeholder {
    font-size: 0.875rem;
    /* font-style: italic; */
    color: var(--color-neutral-800-opaque);
    letter-spacing: -0.875px;
  }
}