.results-page {
  display: grid;
  justify-items: center;
  row-gap: 1rem;
}

.results-page .heading {
  & span {
    margin-inline: var(--space-2);
    color: var(--color-accent-100);
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0.0225em;
  }
}

.movies-container {
  margin-block: var(--space-4);
  padding-inline: var(--space-6);
  width: 100%;
  max-width: 1200px;
}

.movies-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 150px), 1fr));
  /* justify-items: center; */ /*? why images&layout brokes with this */
  gap: 1.25rem 1.75rem;
  
  & .movie-grid-item {
    min-width: 0; /*! MF... */
  }
}
