.selected-movie {
  min-height: 100dvh;
  position: relative;

  & :is(.btn, .back-btn) {
    padding: var(--space-2);
    display: inline-grid;
    place-items: center;
    position: absolute;
    z-index: var(--z-50);
    top: 1.5rem;
    left: 1.5rem;
    backdrop-filter: blur(4px);
    background-color: rgb(150 150 150 / 25%);
    /* outline: var(--outline-size-1) solid var(--color-neutral-300); */
    border-radius: 0.875rem;

    & .icon {
      width: var(--icon-size-6);
    }
  }

  & .btn {
    left: unset;
    right: 1.5rem;
  }
  
  & .poster-wrapper {
    height: 65vh;
    position: relative;
    isolation: isolate;
  }

  & .gradient {
    position: absolute;
    z-index: var(--z-10);
    inset: 0;
    background-image: linear-gradient(
      180deg, rgb(10 13 15 / 15%), rgb(13 17 19 / 80%) 85%
    );
  }

  & figure {
    width: 100%;
    height: 100%;
    min-height: 200px;

    & .poster {
      width: 100%;
      height: 100%;
      object-position: 50% 0;
    }
  }
  
  & .details {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: var(--space-2);
    position: absolute;
    bottom: 1rem;
    left: 50%;
    translate: -50% 0;
    color: var(--color-neutral-300);
    font-size: 0.875rem;

    & .dot {
      font-size: 1.5rem;
    }
  }

  & .icons {
    margin-left: auto;

    & .icon {
      margin-inline: var(--space-2);
      width: var(--icon-size-6);
    }
  }

  & .description {
    margin-top: var(--space-4);
    padding: var(--space-5);
  }
  
  & .title {
    color: var(--color-neutral-100);
  }

  & .plot {
    color: var(--color-neutral-300);
  }

  & .casts-wrapper {
    margin-top: var(--space-6);
    padding-inline: var(--space-2);
    max-width: 80%;
    overflow-x: scroll;

    & h4 {
      margin-bottom: var(--space-4);
    }
  }

  & .casts {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.75rem;

    & li {
      flex-shrink: 0;
      width: 25%;
      text-align: center; /* it centers imgs cuz they're inline/inline-block items */
    }

    & .cast-img {
      width: 5rem;
      aspect-ratio: 1;
      object-position: 0 15%;
      border-radius: var(--rounded-full);
    }

    & .cast-name {
      margin-top: var(--space-2);
      font-size: 0.75rem;
      /* width: fit-content; */
      text-align: center;
    }
  }
}


.selected-movie .cta {
  padding: var(--space-5);

  & > button {
    padding: var(--space-4) var(--space-6);
    font-weight: 500;
    border-radius: var(--rounded-full);
    cursor: pointer;
  }
  
  & .trailer-btn {
    display: flex;
    align-items: center;
    color: var(--color-neutral-200);
    outline: var(--outline-size-2) solid var(--color-accent-500);

    & .icon {
      margin-left: var(--space-2);
      width: var(--icon-size-6);

      & svg {
        stroke: var(--color-accent-500);
        fill: var(--color-accent-500);
      }
    }
  }

  & .book-btn {
    background-color: var(--color-accent-500);
    outline: var(--outline-size-2) solid var(--color-accent-500);
  }
}