.secondary-overlay {
  padding: var(--space-3);
  gap: 0.5rem;
  background-image: linear-gradient(rgb(11 15 17 / 80%) 10%, rgb(11 15 17 / 35%));
  
  & .overlay-title {
    margin-top: var(--space-2);
    -webkit-line-clamp: 2;
  }

  & .overlay-release-date {
    font-weight: 500;
  }

  & .overlay-cta-btns {
    bottom: 1.25rem;
    gap: 0.5rem;
  }
}

.movie-card[data-variant="bookmarked"] .secondary-overlay {
  border-radius: 1.5rem;
}
