.mainLayout {
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-columns: auto 1fr;

  & main {
    padding-bottom: var(--safe-space-to-scroll-bottom-nav);
    width: 100%;
    grid-column: 2 / 3;
    container-name: main-container;
    container-type: inline-size;
    position: relative;
    overflow-x: scroll;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;

    & > * {
      flex-shrink: 0;
    }
  }

  @media (width <= 520px) {
    grid-template-columns: 1fr;

    & main {
      grid-column: unset;
    }
  }
}
