.heroSection {
  padding: var(--space-5) var(--space-7);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 1rem;
  font-size: 1rem;
}

.heroMovie {
  grid-column: 1 / 4;
  grid-row: 1 / -1;
}

.gridContainer {
  padding: var(--space-6) var(--space-8);
  width: 100%;
  aspect-ratio: var(--landscape-ratio);
  container-name: hero-movie;
  container-type: inline-size;
  position: relative;
  isolation: isolate;
  z-index: var(--z-0);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);

  & .details {
    grid-row: 3 / 5;
    grid-column: 1 / 5;
    padding-top: 1.5rem;
  }

  & .castsContainer {
    width: 100px;
    height: 4rem;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    justify-self: start;
  }

  & .btns {
    grid-row: 5 / 6;
    grid-column: 1 / -1;
    align-self: center;
  }

  & .title {
    width: 95%;
    font-size: clamp(18px, 16px + 3cqw, 48px);
    letter-spacing: 1.2px;
    line-height: 0.95;
    color: rgb(var(--rgb-neutral-50));
  }
  
  & .releaseDate {
    font-size: 125%;
    font-weight: 500;
    color: rgb(var(--rgb-neutral-100));
  }
  
  & .bgPoster {
    position: absolute;
    inset: 0;
    z-index: var(--z-neg10);
    background-size: cover;
    background-position: 50% 15%;
    background-repeat: no-repeat;
    border-radius: 2.75rem;
    /* outline: 1.25px solid rgb(120 77 240 / 15%); */
    box-shadow: 0 2px 0.75rem rgb(19 24 26 / 50%);
  
    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background-image: linear-gradient(195deg, transparent, rgb(20 23 26 / 90%) 95%);
      border-radius: inherit;
    }
  }
  
  & .ambient {
    position: absolute;
    inset: -0.65rem;
    z-index: var(--z-neg10);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: inherit;
    opacity: 0.6;
    filter: blur(30px) grayscale(30%);
  }
}

/* queries */
@container home-page (width <= 1300px) {
  .heroSection {
    padding-inline: var(--space-6);
  }
}

@container home-page (width <= 1150px) {
  .heroSection {
    grid-template-columns: repeat(5, 1fr);
    font-size: 0.9rem;
  }

  .heroMovie {
    grid-column: 1 / 5;
  }

  .gridContainer {
    padding: var(--space-6);

    & .details {
      padding-top: 0;
    }
  }
}

@container home-page (width <= 900px) {
  .heroSection {
    padding-inline: var(--space-5);
  }
  
  /* this is the breakpoint that `<Carousle />` is `display: none` */
  .heroMovie {
    grid-column: 1 / 6;
  }
}

@container hero-movie (width <= 620px) {
  .gridContainer {
    & .details {
      font-size: 0.95rem;
    }

    & .details > div,
    & .btns {
      /* `important` is used to override the utility-based style */
      gap: 0.5rem !important;
    }
  }
}

@container hero-movie (width <= 480px) {
  .gridContainer {
    & .title {
      font-size: 1.75rem;
    }
  }
}

@container hero-movie (width <= 440px) {
  .gridContainer {
    & .details {
      grid-row: 3 / 5;
      padding-block: 0;
    }
  }
}
