/* .movie-list:has(:hover) .movie-card[data-variant="common"]:not(:has(:hover)) {
  opacity: 0.6;
} */

.movie-card[data-variant="common"] {
  /* width: clamp(175px, 55vw, 300px); */ /* this is set inline by JS */
  scroll-margin-left: 3px; /* related to the visibility of the left-outline. it works with 1.5px but 3px is safer */
  border-radius: 1.5rem;
  outline: 1.5px solid transparent;
  outline-offset: 0;
  transition: opacity var(--duration-2) ease-out,
    outline-color var(--duration-2) ease-in;

  &:hover {
    outline-color: color-mix(in srgb, var(--color-neutral-400), transparent);
  }

  & .wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 1.5rem;
    box-shadow: var(--box-shadow-1);
  }

  & .poster {
    aspect-ratio: 1.65;
  }

  & .hover-overlay {
    padding: 3cqw 6cqw;
    font-size: 0.85rem;
    background-color: rgb(15 18 20 / 65%);
  }

  & .title {
    margin-top: auto;
    width: unset;
  }

  & .details {
    margin-top: var(--space-2);
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    color: var(--color-neutral-300);
    font-weight: 500;

    & .dot {
      margin-top: -1px; /* hacky */
    }

    & .runtime {
      letter-spacing: -0.25px;
    }

    & .vote {
      color: inherit;

      & .vote-number {
        margin-left: 2px;
      }
    }

    & .star-icon svg {
      fill: var(--color-neutral-300);
    }
  }

  & .cta-btns {
    margin-block: var(--space-4);
    display: flex;
    gap: 0.5rem;
  }
  
  & .play-btn {
    color: var(--color-neutral-300);
    background-color: var(--color-accent-500);
    transition: background-color var(--duration-1) ease-in,
      color var(--duration-1) ease-in;
    
    & svg {
      width: var(--space-4);
      stroke-width: 1.75;
    }
    
    &:hover {
      color: var(--color-neutral-800);
      background-color: var(--color-neutral-300);
    }
  }

  & .active-on-mobile {
    padding: 8px 0;

    & .ellipsis-btn {
      margin-left: auto;
      padding: 5px;
      color: var(--color-neutral-200);
      border-radius: 0.5rem;
      cursor: pointer;
  
      & svg {
        width: var(--icon-size-4);
        stroke-width: 2;
      }

      &:hover {
        background-color: var(--color-neutral-600);
      }
    }
  }

  /* & .ambient {
    position: absolute;
    inset: 0;
    z-index: var(--z-neg5);
    background-size: cover;
    background-position: center;
    opacity: 0.35;
    filter: blur(15px);
  } */
}
