.movie-card[data-variant="result"] {
  & .wrapper {
    position: relative;
    isolation: isolate;
    overflow: hidden;
    border-radius: 1rem;
  }

  & .media-icon {
    width: 22cqw;
    max-width: 45px;
    position: absolute;
    z-index: var(--z-20);
    top: 7.5cqw;
    left: 7.5cqw;
    background-color: rgb(220 220 220 / 65%);
    backdrop-filter: blur(10px);
    border-radius: var(--full-rounded);
    transition: opacity var(--duration-1), translate var(--duration-2);
    
    & svg {
      width: 60%;
      stroke-width: 1.5;
      stroke: var(--color-neutral-800);
    }
  }

  & .ellipsis-btn {
    width: 22cqw;
    max-width: 45px;
    aspect-ratio: 1;
    position: absolute;
    top: 7.5cqw;
    right: 7.5cqw;
    z-index: var(--z-50);
    color: var(--color-neutral-800);
    background-color: rgb(220 220 220 / 65%);
    backdrop-filter: blur(10px);
    border-radius: var(--full-rounded);
    /* padding: 5px; */
    /* top: 1rem; */
    /* right: 1rem; */
    /* border-radius: 0.5rem; */
    /* background-color: color-mix(in srgb, var(--color-neutral-350), transparent); */

    & svg {
      width: var(--icon-size-5);
      stroke-width: 1.5;
      stroke: var(--color-neutral-800);
    }
  }

  & .poster {
    max-height: 290px;
    user-select: none;
  }

  & .main-details {
    margin-top: 1cqh;
    width: 100%;
    height: max(45px, 4.25rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.25rem;
    position: relative;
    z-index: var(--z-50);
    pointer-events: none;
  }

  & .title {
    height: 2rem;
    text-align: center;
    transition: translate 250ms cubic-bezier(0.92, 0.15, 0.5, 1.5), 
      width var(--duration-2) ease-out;
  }

  & .release-date {
    margin-top: -0.25rem;
    font-size: max(0.75rem + 1cqw, 14px + 0.2vw);
  }
}
