.login-page {
  /* background-color: rgb(var(--rgb-neutral-1000)); */

  & .login-box {
    padding: 2rem 1rem;
    width: clamp(350px, 50%, 450px);
    gap: 1rem;
    border: 1.25px solid rgb(var(--rgb-neutral-600));

    & .logo-wrapper {
      width: max(145px, 40%);
      /* align-self: flex-start; */
  
      & img {
        margin-right: 6px;
        width: min(4rem, 38px);
      }
  
      & p {
        font-size: 12px;
        font-family: Geneva, Verdana, sans-serif;
        color: rgb(var(--rgb-neutral-300));
      }
    }
  }

  & .p {
    margin-block: 1rem;
    font-weight: 500;
  }

  & div:has(> button) {
    width: 82% !important;
  
    & span {
      font-size: 1rem;
      font-weight: 600;
    }
  }

  /* & p:has(a) {
    margin-top: 2rem;

    & a {
      cursor: pointer;
    }

    & a:hover {
      text-decoration: underline;
    }
  } */
}

.login-box {
  padding: 0.75rem;
  gap: 0.5rem;
  background-color: rgb(var(--rgb-neutral-800));
  border-radius: 1.5rem;
  box-shadow: 0 2px 1rem rgb(var(--rgb-neutral-1000) / 20%);

  & .msg {
    margin-block: 2rem 1.5rem;
    width: 85%;
    font-weight: 500;
  }

  & div:has(> button) {
    width: 80%;
    gap: 0.75rem;

    & span {
      font-size: 0.9rem;
      margin-inline: auto;
      font-weight: 500;
    }
  }
}
