.hero-section {
  margin-block: var(--space-5);
  padding-inline: var(--space-7);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 1rem;
  font-size: 1rem;
}

.hero-movie {
  grid-column: 1 / 4;
  grid-row: 1 / -1;
}

.carousel-container {
  align-self: center;
  grid-column: 4 / 5;
  grid-row: 1 / 4;
}

.grid-container {
  padding: var(--space-6) var(--space-7);
  width: 100%;
  aspect-ratio: var(--poster-landscape-ratio);
  container-name: grid-container;
  container-type: inline-size;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);

  & .main-details {
    grid-row: 2 / 3;
    grid-column: 1 / 5;
    padding-block: 1rem 3rem;
  }

  & .main-btns {
    grid-row: 5 / 6;
    align-self: center;
  }

  & .director {
    grid-row: 3 / 4;
    grid-column: 5 / 6;
    align-self: center;
    justify-self: end;
  }

  & .casts-container {
    grid-row: 3 / 4;
    grid-column: 1 / 3;
    align-self: end;
  }

  & .next-prev-btns {
    grid-row: 5 / 6;
    grid-column: -2 / -1;
    align-self: center;
    justify-self: end;
  }
}

.grid-container {
  position: relative;
  isolation: isolate;
  z-index: var(--z-0);

  & .main-details {
    & > div {
      margin-top: 1rem;
      gap: 0.75rem;
    }
  }

  & .title {
    width: fit-content;
    font-size: min(58px, 2.75rem);
    letter-spacing: 1.2px;
    line-height: 0.9;
    color: rgb(var(--rgb-neutral-50));
  }

  & .release-date {
    font-size: 1.25rem;
    font-weight: 500;
    color: rgb(var(--rgb-neutral-100));
  }

  & .casts-container {
    height: 4rem;
  }

  & .director {
    & p:first-child {
      margin-bottom: 0.25cqw;
      font-size: 0.715rem;
      color: rgb(var(--rgb-neutral-200));
    }

    & .director-name {
      font-weight: 500;
      color: rgb(var(--rgb-neutral-100));
    }
  }

  & .main-btns {
    gap: 1.5cqw;
    font-size: 0.8rem;
  }

  & .next-prev-btns {
    display: inline-flex;
    gap: 1.5cqw;
  }
}

& .carousel-container {
  --img-width: 10rem;
  --gap: 1rem;
  position: relative;
}

& .carousel {
  position: relative;
  overflow: hidden;
  border-radius: 2rem;

  & .images-wrapper {
    height: calc((9rem / var(--poster-landscape-ratio) + var(--gap)) * 4);
  }

  & .images-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap);
  }

  & figure {
    flex-shrink: 0;
    width: var(--img-width);
    min-height: 80px; /* for JS (for what? seems to hacky!) */
    opacity: 0.375;
    scale: 0.925;
    transition: opacity var(--duration-1), scale var(--duration-1);
    cursor: pointer;

    &[data-view="true"] {
      opacity: 1;
      scale: 1;
      outline: var(--outline-size-3) var(--color-accent-300) solid;
      outline-offset: 5px;
      border-radius: 1.5rem;
    }

    img.poster {
      border-radius: 1.5rem;
    }
  }
}

.grid-container {
  & .bg-poster {
    inset: 0;
    background-position: 50% 50%;
    border-radius: 2.75rem;
    outline: 1.25px solid rgba(120, 77, 240, 0.15);
    outline-offset: 0;
    box-shadow: 0 2px 0.75rem rgb(20 23 26 / 50%);

    &::after {
      content: "";
      position: absolute;
      z-index: var(--z-10);
      inset: 0;
      background-image: linear-gradient(190deg, transparent, rgb(20 23 26 / 90%) 95%);
      border-radius: inherit;
    }
  }

  & .ambient {
    position: absolute;
    z-index: var(--z-neg10);
    inset: -0.65rem;
    opacity: 0.6;
    filter: blur(30px) grayscale(0.3);
  }

  & .ambient img {
    width: 100%;
    height: 100%;
    object-position: center;
    border-radius: 2.75rem;
  }
}

.swiper-container {
  grid-column: 1 / 6;
  grid-row: 1 / 4;
  padding-block: 1rem;
  height: 450px;
  overflow: hidden;
  
  & .swiper {
    width: 100%;
    height: 100%;
    position: relative;
  
    & .swiper-card {
      width: min(280px, 75%);
      position: absolute;
      top: 0;
    }

    & .swiper-card-content {
      overflow: hidden;
      border-radius: 3rem;

    }

    & .front-card > .swiper-card-content {
      box-shadow: 0 6px 2rem 2px rgb(64 36 87 / 40%);
      /* box-shadow: 0 5px 2rem 2px #69172b72; */
    }
  }
}


@container grid-container (width <= 820px) {
  .main-details {
    grid-column: 1 / 5;
  }

  .title {
    font-size: min(50px, 2.5rem);
  }

  .main-btns {
    grid-column: 1 / 5;
    grid-row: 5 / 6;
    font-size: 0.75rem;
  }

  .director {
    grid-column: 5 / 6;
    justify-self: end;
    width: max-content;

    & p:first-child {
      text-align: end;
      font-size: 0.6rem;
    }

    & .director-name {
      font-size: 0.815rem;
    }
  }
}

@container grid-container (width <= 600px) {
  .main-btns {
    grid-column: 1 / 5;
    grid-row: 5 / 6;
  }
}

@container grid-container (width <= 450px) {
  .main-details {
    grid-column: 1 / 4;
    /* margin-top: 1rem; */
    width: auto;
  }

  .title {
    font-size: 1.625rem;
  }

  .release-date {
    font-size: 1rem;
  }

  .main-btns {
    font-size: 0.7rem;
  }
}
