.pagination {
  margin-block: var(--space-6);
  gap: var(--space-3);
  
  & .page-link {
    width: var(--space-8);
    height: var(--space-8);
    display: inline-grid;
    place-items: center;
    color: var(--color-neutral-200);
    outline: var(--outline-size-2) solid var(--color-neutral-400);
    border-radius: 0.5rem;
    transition: color var(--duration-1),
      background-color var(--duration-1),
      outline-color var(--duration-1);

    &:hover {
      color: var(--color-neutral-100) !important;
      background-color: var(--color-accent-400) !important;
      outline-color: var(--color-accent-400) !important;
    }
  
    & .icon {
      width: var(--icon-size-4);
    }

    &:is(.first-page-link, .last-page-link) {
      outline: var(--outline-size-2) solid var(--color-neutral-400);
    }

    &.disable-link {
      color: var(--color-neutral-500);
      outline: var(--outline-size-2) solid var(--color-neutral-500);
      pointer-events: none;
    }

    &.active {
      color: var(--color-accent-300);
      outline: var(--outline-size-2) solid var(--color-accent-300);
    }
  }

  & .dots {
    width: var(--space-6);
    height: var(--space-6);
    letter-spacing: 0.25em;
    pointer-events: none;
  }
}
