.search-page {
  height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr minmax(auto, min(32vw, 300px)); /* `minmax(auto, min(32vw, 300px))` is equal to <aside>'s width */
  grid-template-rows: auto 1fr;

  & .heading {
    font-family: Georgia, serif;

    & .searched-title {
      margin-left: var(--space-1);
      font-family: Ubuntu, sans-serif;
      letter-spacing: 0.0225em;
      color: var(--color-accent-200);
    }

    & span::selection {
      background-color: var(--color-neutral-50);
    }
  }

  & aside {
    font-size: 0.9rem;

    &[data-screen="lg-screen"] {
      width: min(32vw, 300px);
      grid-row: 2 / 3;
      grid-column: 3 / 4;
    }

    /* it applies when; `@media (width <= 620px)` */
    /* the `data-screen` is changed based on `windoWidth` by `useWindowOffsets` hook */
    &[data-screen="sm-screen"] {
      padding-inline: var(--space-8); /* same as: `.search-page > main` */
      padding-top: 180px; /** same as `<ElasticHeader />'s height */
      grid-row: 2 / 3;
      grid-column: 1 / 2;
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }

  & .header-container {
    grid-row: 1 / 2;
    grid-column: 2 / -1;
  }

  & .sidenav-container {
    grid-row: 1 / -1;
    grid-column: 1 / 2;
  }

  & main {
    padding-inline: var(--space-8);
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    overflow-y: scroll;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }
}

.results-container {
  margin-block: var(--space-8) var(--space-4);
  width: 100%;
  max-width: 1200px;
  container-name: results-container;
  container-type: inline-size;
}

.search-results {
  width: 100%;
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(min(100%, 175px), 1fr)); */
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 1.25rem 1.75rem;
}

/* queries */
@container results-container (inline-size <= 920px) {
  .search-results {
    /* grid-template-columns: repeat(auto-fill, minmax(min(100%, 165px), 200px)); */
    grid-template-columns: repeat(4, minmax(0, 1fr));
    justify-content: center;
    gap: 1.75rem 2rem;
  }
}

@container results-container (inline-size <= 700px) {
  .search-results {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@container results-container (inline-size <= 520px) {
  .search-results {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2.25rem 1.75rem;
  }
}

@media (width <= 620px) {
  .search-page {
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;

    & .header-container {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
    }

    & .sidenav-container {
      grid-row: unset;
      grid-column: 1 / 2;
    }

    & main {
      grid-row: 3 / 4;
      grid-column: 1 / 2;
    }
  }
}
