.search-page {
  height: 100%;
  display: grid;
  /** `minmax(auto, min(35vw, 325px))` this should  equal to <aside>'s width */
  grid-template-columns: minmax(auto, min(35vw, 325px)) 1fr;
  grid-template-rows: auto 1fr;

  & aside {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin-top: var(--space-8);
  }

  & main {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin-top: var(--space-8);
  }

  & .heading {
    font-family: Georgia, serif;
    
    & .searched-title {
      margin-left: var(--space-1);
      font-family: Ubuntu, sans-serif;
      letter-spacing: 0.0225em;
      color: var(--color-accent-200);
    }

    & span::selection {
      background-color: var(--color-neutral-50);
    }
  }
}

.search-page main {
  padding-inline: var(--space-8);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.results-container {
  margin-block: var(--space-8) var(--space-4);
  width: 100%;
  max-width: 1200px;
  container-name: results-container;
  container-type: inline-size;
}

.search-results {
  width: 100%;
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(min(100%, 175px), 1fr)); */
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 1.25rem 1.75rem;
}

@container results-container (inline-size <= 920px) {
  .search-results {
    /* grid-template-columns: repeat(auto-fill, minmax(min(100%, 165px), 200px)); */
    grid-template-columns: repeat(4, minmax(0, 1fr));
    justify-content: center;
    gap: 1.75rem 2rem;
  }
}

@container results-container (inline-size <= 700px) {
  .search-results {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@container results-container (inline-size <= 520px) {
  .search-results {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2.25rem 1.75rem;
  }
}

@media (width <= 620px) {
  .search-page {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;

    & aside {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      width: unset !important;
      height: auto;
      position: unset !important;
    }

    & main {
      grid-column: 1 / 2;
      grid-row: 3 / 4;
      margin-top: var(--space-4);
    }
  }
}
