.side-filter {
  height: 100%;
  position: relative;
  background-color: var(--bg-sidenav);
  /* background-image: linear-gradient(180deg, var(--color-neutral-900), var(--bg-sidenav)); */
  /* border-radius: 0 3rem 0 0; */
  
  &::after {
    content: "";
    width: calc(100% - -1.5px);
    height: 100%;
    position: absolute;
    right: 0;
    top: -1.5px;
    z-index: var(--z-neg5);
    border-radius: inherit;
    /* background-image: linear-gradient(120deg, var(--color-accent-300), transparent); */
    background-image: linear-gradient(180deg, transparent, var(--color-neutral-500), transparent);
  }

  & form {
    padding: var(--space-4) var(--space-5);
    height: 72vh;
    position: relative;
    
    & .form-content {
      padding-top: 0.5rem;
      overflow-y: scroll;
      overflow-x: hidden;
      scrollbar-width: none;
      padding-bottom: 4.5rem;
      gap: 1.5rem;
    }
  }

  & .date-filter {
    & .date-group {
      gap: 0.75rem;
    }

    & label {
      width: 100%;
      font-weight: 500;
    }

    & input {
      margin-inline: auto 3rem;
      padding: 0 1rem;
      width: 50%;
      height: 2.25rem;
      color: var(--color-neutral-100);
      font-size: 0.8rem;
      background-color: var(--color-neutral-600);
      border-radius: 1rem;
    }
  }

  & .lang-filter {
    font-size: 0.8rem;
    
    & .lang-group {
      width: 100%;
      gap: 0.75rem;
    }

    & label {
      width: 100%;
    }

    & div:has(> select) {
      /* to hide default arrow */
      &::after {
        pointer-events: none;
        height: 90%;
        width: 15px;
        right: 2px;
        top: 2px;
        background-color: var(--color-neutral-700);
        border-radius: 5rem;
      }
    }
  }
}
