.side-filter {
  --outline-width: -1.5px;
  margin-top: var(--space-4);
  padding-bottom: 4rem;
  position: relative;
  background-image: linear-gradient(120deg, var(--color-neutral-700), var(--color-neutral-800));
  border-radius: 0 3rem 0 0;
  
  &::after {
    width: calc(100.35% - var(--outline-width));
    height: 55%;
    left: 0;
    top: var(--outline-width);
    z-index: var(--z-neg5);
    border-radius: inherit;
    background-image: linear-gradient(120deg, var(--color-accent-600), transparent);
  }

  & form {
    padding: var(--space-4) var(--space-5);
    height: 72.5vh;
    position: relative;
    
    & .form-content {
      padding-top: 0.5rem;
      overflow-y: scroll;
      overflow-x: hidden;
      scrollbar-width: none;
      padding-bottom: 4.5rem;
      gap: 1.5rem;
    }

    & button[type="submit"] {
      width: 85%;
      position: absolute;
      bottom: 0;
      left: 50%;
      translate: -50% 0;

      &:active {
        translate: -50% 2px;
      }
    }
  }
  
  & .filter-card {
    width: 100%;
    align-items: flex-start;
  }
  
  & .type-group {
    & label {
      padding: var(--space-2);
      flex: 1;
      font-size: 0.75rem;
    }
  }
  
  & .genres-group {
    width: 100%;
    gap: 0.35rem;

    & label {
      padding: var(--space-2);
      font-size: 0.625rem;
      border-radius: var(--full-rounded);
    }
  }

  & .date-filter {
    & .date-group {
      gap: 0.75rem;
    }

    & label {
      width: 100%;
      font-weight: 500;
    }

    & input {
      margin-inline: auto 3rem;
      padding: 0 1rem;
      width: 50%;
      height: 2.25rem;
      color: var(--color-neutral-200);
      font-size: 0.8rem;
      background-color: var(--color-neutral-600);
      border-radius: 1rem;
    }
  }

  & .lang-filter {
    font-size: 0.8rem;
    
    & .lang-group {
      width: 100%;
      gap: 0.75rem;
    }

    & label {
      width: 100%;
    }

    & div:has(> select) {
      /* to remove default arrow */
      &::after {
        pointer-events: none;
        height: 90%;
        width: 15px;
        right: 2px;
        top: 2px;
        background-color: var(--color-neutral-650);
        border-radius: 5rem;
      }
    }
  }
}
