.search-page {
  & .sm-filter {
    margin-top: var(--space-6);
    
    & .wrapper {
      display: inline-flex;
      gap: var(--space-2);
    }
  }

  & .filter-dropdown {
    padding: 0.625rem var(--space-5);
    min-width: 6rem;
    position: relative;
    z-index: var(--z-20);
    display: inline-flex;
    column-gap: var(--space-2);
    border: var(--outline-size-2) solid var(--color-neutral-400);
    border-radius: var(--full-rounded);
    cursor: default;
    transition: background-color var(--duration-1) ease-in,
      border-color var(--duration-1) ease-in,
      color var(--duration-1) ease-in;

    &:hover,
    &.is-open {
      background-color: var(--color-neutral-500);
      border-color: var(--color-neutral-500);
    }
  }

  & .dropdown-box {
    padding: var(--space-5) var(--space-5);
    min-width: 225px;
    position: absolute;
    top: calc(100% + 10px);
    left: 0;
    color: var(--color-neutral-200);
    background-color: var(--color-neutral-900);
    border: 1.2px solid var(--color-neutral-600);
    border-radius: 1.5rem;
    box-shadow: 0 5px 0.75rem rgb(11 15 17 / 50%);

    & .type-filter {
      & .type-group {
        margin-top: var(--space-4);
      }

      & label {
        min-width: 5.5rem;
        padding: 0.625rem;
      }
    }
    
    & .genres-filter {
      & .group {
        gap: var(--space-2);
      }

      & label {
        padding: 0.35rem var(--space-2);
        font-size: 0.8rem;
        border-radius: 0.75rem;
      }
    }
  }

  & .filter-dropdown {
    & form {
      gap: 1rem;
    }
  }
}
