/* sidenav */
.navigation[data-variant="sidenav"] {
  grid-column: 1 / 2;
  padding: 0.75rem;
  height: 100vh;
  position: relative;
  background-color: var(--bg-sidenav);
  color: var(--color-neutral-300);

  /* roles as border-right */
  &::after {
    content: "";
    width: 1.5px;
    height: 100%;
    position: absolute;
    right: -0.75px; /* (width ÷ 2) */
    top: 50%;
    translate: 0 -50%;
    background-image: linear-gradient(180deg, transparent, var(--color-neutral-500), transparent);
  }

  & .logo-wrapper {
    margin-bottom: 1.5rem;
    padding: 0 1rem;
    flex-basis: 15%;
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;
    background-color: var(--color-neutral-900);
    border-radius: 1rem;
    transition: background-color var(--duration-1);

    & .logo {
      flex-shrink: 0;
      max-width: none;
      width: 2rem;
      rotate: z 30deg;
    }
  }

  & .toggle-btn {
    padding: 0.25rem;
    right: -1.5rem;
    z-index: var(--z-50);
    background-color: var(--color-neutral-950);
    border: 2px solid var(--color-neutral-600);
    border-radius: var(--full-rounded);
    transition: background-color var(--duration-1),
      rotate 2s;

    &:hover {
      background-color: var(--color-neutral-600);
    }
  }
}

.navigation[data-collapsed="true"] {
  & .logo-wrapper {
    background-color: transparent;
    gap: 0;
  }
}


/* !shame */
@media (width <= 760px) {
  [data-variant="sidenav"] {
    width: 80px !important;
    align-items: center !important;

    & .logo-wrapper {
      background-color: unset !important;
      gap: 0 !important;
    }
  
    & .nav-links {
      gap: var(--space-3) !important;
    }

    & .tag {
      display: none !important;
    }
  }
}

/* menu - on small divces */
.navigation[data-variant="menu"] {
  padding: 0.75rem 0.875rem;
  width: 88%;
  position: fixed;
  z-index: var(--z-100);
  bottom: 0;
  left: 50%;
  translate: -50% 0;
  color: var(--color-neutral-300);
  border-radius: 3.5rem;

  /* bg effect */
  &::before {
    content: "";
    position: absolute;
    z-index: var(--z-neg5);
    inset: 0;
    background-color: rgb(var(--rgb-neutral-800) / 85%);
    backdrop-filter: blur(30px);
    border-radius: 3.5rem;
  }

  & svg {
    stroke-width: 1.75;
  }
}

/* & svg {
  stroke-width: 1pt;
  stroke-miterlimit: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 400;
  animation: stroks 1s reverse ease-out;
} */
/* @keyframes stroks {
  100% {
    stroke-dashoffset: 400;
  }
} */
