@media (width <= 520px) {
  .main-header .link {
    display: block;

    & .icon {
      padding: var(--space-2);
      color: var(--color-neutral-300);
      border-radius: var(--full-rounded);

      & svg {
        width: var(--icon-size-6);
      }
    }

    & .tag {
      display: none;
    }
  }

  .main-header .account-menu {
    padding: var(--space-2);
    border-radius: var(--full-rounded);
    transition: background-color var(--duration-1) ease-in;

    &:hover {
      background-color: var(--color-neutral-600);
    }

    & .account-menu-options {
      padding: 0.5rem;
      width: 145px;
      bottom: unset;
      left: unset;
      top: 110%;
      right: 0;
      border-radius: 1.175rem;

      & .options {
        gap: 0.5rem;
      }
      
      & .option {
        padding: 0.75rem 1rem;
        border-radius: 0.675rem;
      }

      & .icon {
        padding: 0;
      }

      & svg {
        width: 15px;
      }
  
      & .tag {
        font-size: 12px;
      }
    }
  }
}
