/* .movie-list:has(:hover) .movie-card[data-variant="common"]:not(:has(:hover)) {
  opacity: 0.6;
} */

.movie-card[data-variant="common"] {
  flex-shrink: 0;
  /* width: clamp(215px, 56vw, 305px); */ /* this is set inline by JS */
  scroll-margin-left: 5px; /* related to the visibility of the left-outline */
  border-radius: 1.5rem;
  outline: 1.5px solid transparent;
  outline-offset: 0;
  transition: opacity var(--duration-2) ease-out,
    outline-color var(--duration-2) ease-in;

  &:hover {
    outline-color: color-mix(in srgb, var(--color-neutral-400), transparent);
  }

  & .wrapper {
    position: relative;
    overflow: hidden;
    border-radius: 1.5rem;
    box-shadow: var(--box-shadow-1);
  }

  & .poster {
    aspect-ratio: 1.65;
  }

  & .close-btn,
  & .ellipsis-btn {
    padding: 5px;
    color: var(--color-neutral-200);
    background-color: color-mix(in srgb, var(--color-neutral-350), transparent);
    backdrop-filter: blur(10px);
    border-radius: 0.5rem;
    cursor: pointer;

    & svg {
      width: var(--icon-size-4);
      stroke-width: 2;
    }
  }

  & .close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: var(--z-50);
  }
}

.movie-card[data-variant="common"].is-mobile {
  & .wrapper::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: var(--z-5);
    background-image: linear-gradient(transparent, rgb(11 15 17 / 75%));
  }

  & .active-on-mobile {
    padding: 1rem 0.75rem;
    position: absolute;
    bottom: 0;
    z-index: var(--z-10);

    & .title {
      color: var(--color-neutral-250);
    }

    & .ellipsis-btn {
      margin-left: auto;
    }
  }
}

.genre-movies-container .movie-card[data-variant="common"] {
  width: auto !important;
}


@media (width <= 620px) {
  .movie-card[data-variant="common"] {
    & .wrapper {
      box-shadow: none;
    }

    &:hover {
      outline-color: transparent;
    }
  }
}
