.bookmark-btn {
  color: var(--color-neutral-800);

  & svg {
    width: var(--icon-size-4);
    stroke-width: 1.5;
  }

  &:hover {
    background-color: var(--color-neutral-300) !important;
  }

  &.is-bookmarked {
    color: var(--color-neutral-800);
  
    & svg {
      fill: var(--color-neutral-800);
    }
  }
}


.movie-card[data-variant="result"] .bookmark-btn {
  padding: 0;
  width: 22cqw;
  max-width: 45px;

  & svg {
    width: 60%;
  }
}

.hero-movie .bookmark-btn {
  padding: 1.5cqw;
  height: max-content;
  background-color: rgb(20 23 26 / 15%);
  color: var(--color-neutral-200);
  border: var(--outline-size-1) solid var(--color-neutral-400);
  border-radius: 0.7rem;
  transition: background-color var(--duration-1) ease-in,
    border-color var(--duration-1) ease-in,
    color var(--duration-1) ease-in;

  & svg {
    width: 1.05rem;
    stroke-width: 2;
  }

  &:hover {
    color: var(--color-neutral-800);
    border-color: var(--color-neutral-300);
  }

  &.is-bookmarked {
    color: var(--color-neutral-800);
    background-color: var(--color-neutral-250);
    border-color: var(--color-neutral-300);
  }
}

.selected-media .cta-btns .bookmark-btn {
  width: 3.25rem;
  flex-shrink: 0;
  color: var(--color-neutral-200);
  background-color: transparent;
  /* backdrop-filter: blur(10px); */
  border: 1px solid var(--color-neutral-200);
  border-radius: var(--full-rounded);
  transition: background-color var(--duration-1) ease-in,
    border-color var(--duration-1) ease-in,
    color var(--duration-1) ease-in !important;

  & svg {
    width: var(--icon-size-6);
  }

  &:hover {
    color: var(--color-neutral-800);
    background-color: var(--color-neutral-350);
    border-color: var(--color-neutral-800);
  }

  &.is-bookmarked {
    & svg {
      color: var(--color-neutral-150);
      fill: var(--color-neutral-150);
    }
  }
}
