.fave-btn {
  margin-left: auto;
  backdrop-filter: blur(5px);

  & svg {
    width: var(--icon-size-6);
    color: var(--color-neutral-800);
  }

  &:hover {
    background-color: var(--color-neutral-300);
  }

  &.is-faved{
    & svg {
      color: crimson;
      fill: crimson;
    }
  }
}
