.info-btn {
  transition: background-color var(--duration-1) ease-in;

  & svg {
    width: var(--space-4);
  }
}

.movie-card[data-variant="screen"] .info-btn {
  background-color: var(--color-neutral-700);
  /* border: 1.5px solid var(--color-neutral-550); */
  border: 1.5px solid var(--color-accent-500);

  &:hover {
    background-color: var(--color-accent-500);
  }
}


.secondary-overlay .info-btn {
  padding: 0;
  width: 22cqw;

  & svg {
    width: var(--icon-size-5);
    color: var(--color-neutral-800);
  }

  &:hover {
    background-color: var(--color-neutral-300);
  }
}
