.link-btn {
  color: var(--color-neutral-800);

  & svg {
    width: var(--icon-size-4);
    stroke-width: 1.5;
  }

  &:hover {
    background-color: var(--color-neutral-300);
  }
}

.movie-card[data-variant="result"] .link-btn {
  padding: 0;
  width: 22cqw;
  max-width: 45px;

  & svg {
    width: 60%;
  }
}

.movie-card[data-variant="bookmarked"] .link-btn {
  padding: 5cqw;

  & svg {
    width: var(--icon-size-5);
  }
}

.movie-card[data-variant="similar"] .link-btn {
  margin-inline: auto;
  margin-block: auto 2rem;
  padding: var(--space-3);

  & svg {
    width: var(--icon-size-5);
  }
}
