/* @import url('https://fonts.googleapis.com/css2?family=Rokkitt:ital,wght@0,100..900;1,100..900&display=swap'); */
@layer reset, global, typo, utilities;

@font-face {
  font-family: Montserrat;
  font-weight: 400;
  font-style: normal;
  src: local("Montserrat"),
    url("/fonts/Montserrat-400.ttf") format("truetype");
}

@font-face {
  font-family: Montserrat;
  font-weight: 400;
  font-style: italic;
  src: url("/fonts/Montserrat-400-italic.ttf") format("truetype");
}

@font-face {
  font-family: Montserrat;
  font-weight: 500;
  font-style: normal;
  src: local("Montserrat"),
    url("/fonts/Montserrat-500.ttf") format("truetype");
}

@font-face {
  font-family: Montserrat;
  font-weight: 600;
  font-style: normal;
  src: local("Montserrat"),
    url("/fonts/Montserrat-600.ttf") format("truetype");
}

@font-face {
  font-family: Montserrat;
  font-weight: 600;
  font-style: italic;
  src: local("Montserrat"),
    url("/fonts/Montserrat-600-italic.ttf") format("truetype");
}

@font-face {
  font-family: Montserrat;
  font-weight: 700;
  font-style: normal;
  src: local("Montserrat"),
    url("/fonts/Montserrat-700.ttf") format("truetype");
}

@font-face {
  font-family: Ubuntu;
  font-weight: 500;
  font-style: normal;
  /*? font-display: swap;*/
  src: local("Montserrat"),
    url("/fonts/Ubuntu-500.ttf") format("truetype");
}

@font-face {
  font-family: Ubuntu;
  font-weight: 700;
  font-style: normal;
  /*? font-display: swap;*/
  src: local("Montserrat"),
    url("/fonts/Ubuntu-700.ttf") format("truetype");
}


:root {
  --base-size: 1rem;
  --space-1: calc(0.25 * var(--base-size));
  --space-2: calc(0.5 * var(--base-size));
  --space-3: calc(0.75 * var(--base-size));
  --space-4: calc(1 * var(--base-size));
  --space-5: calc(1.25 * var(--base-size));
  --space-6: calc(1.5 * var(--base-size));
  --space-7: calc(1.75 * var(--base-size));
  --space-8: calc(2 * var(--base-size));
  --space-9: calc(2.5 * var(--base-size));
  --space-10: calc(3 * var(--base-size));
  --outline-size-1: 1px;
  --outline-size-2: 0.07525rem;
  --outline-size-3: 0.1375rem;
  --outline-size-4: 0.1825rem;
  --rounded-full: 9999px;
  --shadow-100: 0 0.15rem 1.15rem rgb(0 0 0 / 20%);
  --shadow-200: 0 0.1rem 0.75rem rgb(0 0 0 / 50%);
  --duration-1: 150ms;
  --duration-2: 220ms;
  --z-neg20: -20;
  --z-neg10: -10;
  --z-neg5: -5;
  --z-0: 0;
  --z-5: 5;
  --z-10: 10;
  --z-20: 20;
  --z-50: 50;
  --z-100: 100;

  --icon-size-1: 0.25rem;
  --icon-size-2: 0.5rem;
  --icon-size-3: 0.75rem;
  --icon-size-4: 1rem;
  --icon-size-5: 1.25rem;
  --icon-size-6: 1.5rem;
  --icon-size-7: 1.75rem;
  --icon-size-8: 2rem;

  --color-neutral-100: #eaeff3;
  --color-neutral-200: #dde5eb;
  --color-neutral-300: #c3cedb;
  --color-neutral-400: #838c94;
  --color-neutral-500: #42474b;
  --color-neutral-600: #323739;
  --color-neutral-700: #25282a;
  --color-neutral-800: #1e2022;
  --color-neutral-900: #131416;
  --color-orange-300: #f5c518;
  /*~
  --color-neutral-350: color-mix();
  --color-neutral-450: color-mix();
  --color-neutral-550: color-mix();
  --color-neutral-650: color-mix();
  --color-neutral-750: color-mix();
  */
  /*
  --color-accent-100: rgb(57, 168, 185);
  --color-accent-100: rgb(197, 65, 100);
  --color-accent-100: rgb(186, 58, 92);
  */
  --color-accent-100: #E48A94;
  --color-accent-200: #DA697A;
  --color-accent-300: #D3546A;
  --color-accent-400: #C74361;
  --color-accent-500: #BA3A5C;
  --color-accent-600: #A72A4B;

  /* TODO: use color-mix() */
  --color-neutral-200-opaque: rgb(217 230 237 / 50%);
  --color-neutral-300-opaque: rgb(183 192 196 / 50%);
  --color-neutral-400-opaque: rgb(140 148 155 / 50%);
  --color-neutral-500-opaque: rgb(62 66 69 / 50%);
  --color-neutral-600-opaque: rgb(47 50 52 / 50%);
  --color-neutral-700-opaque: rgb(42 44 47 / 50%);
  --color-neutral-800-opaque: rgb(30 32 34 / 50%);
  --black-gradient: rgb(10 13 15 / 25%);
  
  /* calculate the true vw unit, without scrollbar */
  --scrollbar-width: 0;
  --viewport-width: calc(100vw - var(--scrollbar-width));

  --base-poster-ratio: 1.75;
}

@layer utilities {
  .stack-ctx {
    position: relative;
    isolation: isolate;
  }

  .grid-center {
    display: grid;
    place-items: center;
  }

  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .flex-y-center {
    display: flex;
    align-items: center;
  }

  .flex-x-center {
    display: flex;
    justify-content: center;
  }

  .flex-col-x-center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .flex-col-y-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@layer typo {
  html {
    font-size: clamp(0.775rem, 55% + 0.75vw, 1.2rem);
    text-rendering: optimizeLegibility;
  }
  
  body {
    font-family: Montserrat, Calibri, sans-serif;
    color: var(--color-neutral-200);
    line-height: 1.375;
  }

  h1, h2, h3, h4, h5, h6 {
    /* font-family: "Rokkitt", Cambria, Cochin, Georgia, serif; */
    font-family: Ubuntu, sans-serif;
    letter-spacing: 0.325px;
    line-height: 1.15;
  }

  h1 {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.4px;
  }

  h2 {
    font-size: 1.75725rem;
    font-weight: 700;
    letter-spacing: 0.4px;
  }

  h3 {
    font-size: 1.575rem;
    font-weight: 500;
  }

  h4 {
    font-size: 1.375rem;
    font-weight: 500;
  }

  h5, h6 {
    font-size: 1.15rem;
    font-weight: 500;
  }

  a {
    text-decoration-skip-ink: auto;
  }
}

@layer global {
  ::selection {
    background-color: var(--color-accent-600);
  }

  ::-webkit-scrollbar {
    width: 0;
    display: none;
  }

  ::-webkit-scrollbar-button {
    display: none;
  }

  ::-webkit-scrollbar-corner {
    display: none;
  }
 
  ::-webkit-scrollbar-track {
    background-color: var(--color-neutral-700);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--color-neutral-500);
  }

  html {
    scrollbar-width: none;
    scrollbar-color: var(--color-neutral-500) var(--color-neutral-700);
  }

  #root {
    margin-inline: auto;
    max-width: 1750px;
    height: 100%;
    position: relative;
    isolation: isolate;
    background-color: var(--color-neutral-800);
  }

  input {
    font-size: 1rem;
  }

  i, a, label {
    display: inline-block;
  }

  .icon {
    display: inline-grid;
    place-items: center;
    aspect-ratio: 1 / 1;

    & svg {
      max-width: 36.25px;
    }
  }

  .btn {
    display: inline-grid;
    place-items: center;
  }
}

@layer reset {
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    /* min-width: 0; */
    box-sizing: inherit;
  }

  html {
    min-height: 100%;
    display: grid;
    scroll-behavior: smooth;
  }

  body {
    box-sizing: border-box;
    height: 100%;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  i {
    text-align: center;
  }

  ul,
  ol {
    list-style: none;
  }

  table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse;
  }

  input,
  optgroup,
  select,
  textarea {
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    border: none;
  }

  button {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    text-align: center;
    color: inherit;
    background-color: transparent;
    background-image: none;
    border: none;
  }

  img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }

  video {
    max-width: 100%;
    height: auto;
  }

  img,
  svg,
  canvas,
  video,
  audio,
  iframe {
    display: inline-block;
    vertical-align: bottom;
  }

  :where(:focus, :active) {
    outline: none;
  }
}
