/* @import url('https://fonts.googleapis.com/css2?family=Rokkitt:ital,wght@0,100..900;1,100..900&display=swap'); */
/* @import "@src/tailwind.css" layer(framework); */
@layer framework, reset, defaults, typo, components, utilities;


@layer utilities {
  .truncate {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .scroll-snap-start {
    overflow-x: scroll;
    scroll-snap-type: x proximity;
    scrollbar-width: none;

    & > * {
      scroll-snap-align: start;
    }
  }

  .before-abs {
    &::before {
      content: "";
      position: absolute;
    }
  }

  .grid-center {
    display: grid;
    place-items: center;
  }

  .flex {
    display: flex;
  }

  .flex-wrap {
    display: flex;
    flex-wrap: wrap;
  }

  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .flex-y-center {
    display: flex;
    align-items: center;
  }

  .flex-x-center {
    display: flex;
    justify-content: center;
  }

  .flex-col {
    display: flex;
    flex-direction: column;
  }

  .flex-col-x-center {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .flex-col-y-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .grid-item,
  .flex-item {
    min-width: 0;
  }
}

@layer components {
  #root {
    margin-inline: auto;
    max-width: 1750px;
    height: 100%;
    position: relative;
    isolation: isolate;
    background-color: var(--color-neutral-800);
  }

  .shared-layout {
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-columns: auto 1fr;

    & main {
      grid-column: 2 / 3;
      padding-bottom: var(--safe-space-to-scroll-bottom-nav);
      width: 100%;
      overflow-x: scroll;
      scrollbar-width: none;
      display: flex;
      flex-direction: column;

      & > * {
        flex-shrink: 0;
      }

      & section {
        margin-block: var(--space-7);
        padding-inline: var(--space-6);
      }
    
      & section > header {
        margin-bottom: var(--space-6);
      }
    }
  }
  
  .icon {
    display: inline-grid;
    place-items: center;
    aspect-ratio: 1 / 1;

    & svg {
      min-width: 15px;
      max-width: 36.25px;
    }
  }

  .btn {
    display: inline-grid;
    place-items: center;
  }
}

:root {
  --base-size: 1rem;
  --space-1: calc(0.25 * var(--base-size));
  --space-2: calc(0.5 * var(--base-size));
  --space-3: calc(0.75 * var(--base-size));
  --space-4: calc(1 * var(--base-size));
  --space-5: calc(1.25 * var(--base-size));
  --space-6: calc(1.5 * var(--base-size));
  --space-7: calc(1.75 * var(--base-size));
  --space-8: calc(2 * var(--base-size));
  --space-9: calc(2.5 * var(--base-size));
  --space-10: calc(3 * var(--base-size));
  --space-11: calc(3.5 * var(--base-size));
  --space-12: calc(4 * var(--base-size));
  --outline-size-1: 1px;
  --outline-size-2: 0.07525rem;
  --outline-size-3: 0.1375rem;
  --outline-size-4: 2.5px;
  --z-neg20: -20;
  --z-neg10: -10;
  --z-neg5: -5;
  --z-0: 0;
  --z-5: 5;
  --z-10: 10;
  --z-20: 20;
  --z-50: 50;
  --z-100: 100;
  --z-max: 9999;
  --full-rounded: 9999px;
  --duration-1: 150ms;
  --duration-2: 220ms;
  --duration-3: 300ms;
  
  --box-shadow-1: 0 3px 1.24rem rgb(10 15 17 / 50%), 0 2px 0.5rem rgb(10 15 17 / 10%);
  
  --color-neutral-100: rgb(234 239 243);
  --color-neutral-200: rgb(221 229 235);
  --color-neutral-250: color-mix(
    in srgb, var(--color-neutral-200), var(--color-neutral-300)
  );
  --color-neutral-300: rgb(195 206 219);
  --color-neutral-350: color-mix(
    in srgb, var(--color-neutral-300), var(--color-neutral-400)
  );
  --color-neutral-400: rgb(131 140 148);
  --color-neutral-450: color-mix(
    in srgb, var(--color-neutral-400), var(--color-neutral-500)
  );
  --color-neutral-500: rgb(66 71 75);
  --color-neutral-550: color-mix(
    in srgb, var(--color-neutral-500), var(--color-neutral-600)
  );
  --color-neutral-600: rgb(50 55 57);
  --color-neutral-650: color-mix(
    in srgb, var(--color-neutral-600), var(--color-neutral-700)
  );
  --color-neutral-700: rgb(37 40 42);
  --color-neutral-750: color-mix(
    in srgb, var(--color-neutral-700), var(--color-neutral-800)
  );
  --color-neutral-800: rgb(30 32 34);
  --color-neutral-900: rgb(19 20 22);

  --color-aliceblue-200: aliceblue;
  --color-orange-300: rgb(245 197 24);
  --color-orange-500: rgb(255 165 00);
  --color-red-300: rgb(182 38 43);
  --color-red-500: rgb(151 28 32);
  --black-gradient: rgb(10 13 15 / 25%);

  /*
  --color-accent-100: rgb(57 168 185);
  --color-accent-100: rgb(197 65 100);
  --color-accent-100: rgb(186 58 92);
  */
  --color-accent-100: #E48A94;
  --color-accent-200: #DA697A;
  --color-accent-300: #D3546A;
  --color-accent-400: #C74361;
  --color-accent-500: #BA3A5C;
  --color-accent-600: #A72A4B;

  /* specific to project variables */
  --icon-size-1: 0.25rem;
  --icon-size-2: 0.5rem;
  --icon-size-3: 0.75rem;
  --icon-size-4: 1rem;
  --icon-size-5: 1.25rem;
  --icon-size-6: 1.5rem;
  --icon-size-7: 1.75rem;
  --icon-size-8: 2rem;

  --fg-blur: 0px;
  --poster-landscape-ratio: 1.75;
  --poster-portrait-ratio: 0.665;
  --safe-space-to-scroll-bottom-nav: 75px;
}

@font-face {
  font-family: Montserrat;
  font-weight: 400;
  font-style: normal;
  src: local("Montserrat"),
    url("/fonts/Montserrat-400.ttf") format("truetype");
}

@font-face {
  font-family: Montserrat;
  font-weight: 400;
  font-style: italic;
  src: url("/fonts/Montserrat-400-italic.ttf") format("truetype");
}

@font-face {
  font-family: Montserrat;
  font-weight: 500;
  font-style: normal;
  src: local("Montserrat"),
    url("/fonts/Montserrat-500.ttf") format("truetype");
}

@font-face {
  font-family: Montserrat;
  font-weight: 600;
  font-style: normal;
  src: local("Montserrat"),
    url("/fonts/Montserrat-600.ttf") format("truetype");
}

@font-face {
  font-family: Montserrat;
  font-weight: 600;
  font-style: italic;
  src: local("Montserrat"),
    url("/fonts/Montserrat-600-italic.ttf") format("truetype");
}

@font-face {
  font-family: Montserrat;
  font-weight: 700;
  font-style: normal;
  src: local("Montserrat"),
    url("/fonts/Montserrat-700.ttf") format("truetype");
}

@font-face {
  font-family: Ubuntu;
  font-weight: 400;
  font-style: normal;
  /*? font-display: swap;*/
  src: local("Montserrat"),
    url("/fonts/Ubuntu-400.ttf") format("truetype");
}

@font-face {
  font-family: Ubuntu;
  font-weight: 500;
  font-style: normal;
  /*? font-display: swap;*/
  src: local("Montserrat"),
    url("/fonts/Ubuntu-500.ttf") format("truetype");
}

@font-face {
  font-family: Ubuntu;
  font-weight: 700;
  font-style: normal;
  /*? font-display: swap;*/
  src: local("Montserrat"),
    url("/fonts/Ubuntu-700.ttf") format("truetype");
}

@layer typo {
  html {
    /* font-size: clamp(0.775rem, 55% + 0.75vw, 19px); */
    font-size: clamp(12.25px, 55% + 0.75vw, 18.25px);
    text-rendering: optimizeLegibility;
  }
  
  body {
    font-family: Montserrat, Calibri, sans-serif;
    color: var(--color-neutral-200);
    line-height: 1.475;
  }

  h1, h2, h3, h4, h5, h6 {
    /* font-family: "Rokkitt", Cambria, Cochin, Georgia, serif; */
    font-family: Ubuntu, sans-serif;
    letter-spacing: 0.325px;
    line-height: 1.15;
  }

  h1 {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.4px;
  }

  h2 {
    font-size: 1.75rem;
    font-weight: 700;
    letter-spacing: 0.4px;
  }

  h3 {
    font-size: 1.525rem;
    font-weight: 500;
  }

  h4 {
    font-size: 1.35rem;
    font-weight: 500;
  }

  h5, h6 {
    font-size: 1.15rem;
    font-weight: 500;
  }
}

@layer framework {

}

@layer defaults {
  /* * {
    min-width: 0;
  } */

  ::selection {
    background-color: var(--color-accent-600);
  }

  ::-webkit-scrollbar {
    width: 0;
    display: none;
  }

  ::-webkit-scrollbar-button {
    display: none;
  }

  ::-webkit-scrollbar-corner {
    display: none;
  }
 
  ::-webkit-scrollbar-track {
    background-color: var(--color-neutral-700);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--color-neutral-500);
  }

  html {
    min-height: 100%;
    display: grid;
    scrollbar-width: none;
    scrollbar-color: var(--color-neutral-500) var(--color-neutral-700);
    background-color: var(--color-neutral-800);
  }

  body {
    height: 100%;
  }

  i {
    display: inline-block;
    text-align: center;
  }

  a {
    display: inline-block;
    text-underline-offset: 2px;
    text-decoration-skip-ink: auto;
  }

  hr {
    margin-block: var(--space-2);
    margin-inline: auto;
    width: 80%;
    max-width: 750px;
    border: none;
    border-top: 2px solid var(--color-neutral-700);
  }

  label {
    display: inline-block;
  }

  input {
    font-size: 1rem;

    &::placeholder {
      font-size: inherit;
    }
  }

  button {
    font-size: 0.875rem;
  }
}

@layer reset {
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    box-sizing: border-box;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  ul,
  ol {
    list-style: none;
  }

  table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse;
  }

  input,
  optgroup,
  select,
  textarea {
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    border: none;
  }

  button {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    text-align: center;
    color: inherit;
    background-color: transparent;
    background-image: none;
    border: none;
  }

  img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
  }

  video {
    max-width: 100%;
    height: auto;
  }

  img,
  svg,
  canvas,
  video,
  audio,
  iframe {
    display: inline-block;
    vertical-align: bottom;
  }

  :where(:focus, :active) {
    outline: none;
  }
}
