@layer reset, global;

:root {
  --base-size: 1rem;

  --space-1: calc(0.25 * var(--base-size));
  --space-2: calc(0.5 * var(--base-size));
  --space-3: calc(0.75 * var(--base-size));
  --space-4: calc(1 * var(--base-size));
  --space-5: calc(1.25 * var(--base-size));
  --space-6: calc(1.5 * var(--base-size));
  --space-7: calc(1.75 * var(--base-size));
  --space-8: calc(2 * var(--base-size));
  --space-9: calc(2.5 * var(--base-size));
  --space-10: calc(3 * var(--base-size));

  --outline-size-1: 0.07515rem;
  --outline-size-2: 0.15rem;
  --rounded-full: 9999px;
  --shadow-100: 0 0.15rem 1.15rem rgb(0 0 0 / 20%);
  --shadow-200: 0 0.1rem 0.75rem rgb(0 0 0 / 50%);
  --duration-1: 150ms;
  --duration-2: 220ms;
  --z-neg-10: -10;
  --z-neg-5: -5;
  --z-0: 0;
  --z-5: 5;
  --z-10: 10;
  --z-20: 20;
  --z-50: 50;
  --z-100: 100;

  --icon-size-10: 1rem;
  --icon-size-15: 1.5rem;
  --icon-size-20: 2rem;
  --icon-size-25: 2.5rem;
  --icon-size-30: 3rem;

  --color-accent-100: rgb(57, 168, 185);
  --color-accent-100: rgb(196 54 113);
  --color-accent-100: rgb(197, 65, 100);
  --color-accent-100: rgb(186, 58, 92);

  --color-neutral-200: #d9e6ed;
  --color-neutral-300: #b7c0c4;
  --color-neutral-400: #8c949b;
  --color-neutral-500: #3e4245;
  --color-neutral-600: #2f3234;
  --color-neutral-700: #2a2c2f;
  --color-neutral-800: #1e2022;

  --color-neutral-200-opaque: rgb(217 230 237 / 50%);
  --color-neutral-300-opaque: rgb(183 192 196 / 50%);
  --color-neutral-400-opaque: rgb(140 148 155 / 50%);
  --color-neutral-500-opaque: rgb(62 66 69 / 50%);
  --color-neutral-600-opaque: rgb(47 50 52 / 50%);
  --color-neutral-700-opaque: rgb(42 44 47 / 50%);
  --color-neutral-800-opaque: rgb(30 32 34 / 50%);


  @media (width < 500px) {
    --base-size: 0.95rem;
  }
}


@layer global {
  html {
    font-size: clamp(0.75rem, 55% + 0.75vw, 1.5rem);
    font-family: Cambria, Cochin, Georgia, serif;
  }

  body {
    line-height: 1.2;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--color-neutral-200);
  }

  #root {
    height: 100%;
    color: var(--color-neutral-200); /* default color */
    background-color: var(--color-neutral-800);
  }

  a,
  i, .icon, 
  label {
    display: inline-block;
  }

  .icon {
    aspect-ratio: 1 / 1;
    max-width: 35px;
  }
}

@layer reset {
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }

  html {
    min-height: 100%;
    display: grid;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
      "Noto Color Emoji";
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
  }

  body {
    box-sizing: border-box;
    height: 100%;
  }

  a {
    color: inherit;
    text-decoration: none;
    text-align: center;
  }

  i {
    text-align: center;
  }

  ul,
  ol {
    list-style: none;
  }

  table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse;
  }

  input,
  optgroup,
  select,
  textarea {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    color: inherit;
    border: none;
  }

  textarea {
    resize: vertical;
  }

  button {
    font-family: inherit;
    font-size: 100%;
    font-weight: inherit;
    line-height: inherit;
    text-align: center;
    color: inherit;
    appearance: button;
    background-color: transparent;
    background-image: none;
    border: none;
  }

  img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
    object-fit: cover;
  }

  img,
  svg,
  canvas,
  video,
  audio,
  iframe {
    display: inline-block;
    vertical-align: bottom;
  }

  video {
    max-width: 100%;
    height: auto;
  }

  :where(:focus, :active) {
    outline: none;
  }

  /* ::-webkit-scrollbar {
    width: 1px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--color-neutral-500);
  }

  ::-webkit-scrollbar-track {
    background-color: var(--color-neutral-700);
  }

  :where(*) {
    scrollbar-width: thin;
    scrollbar-color: var(--color-neutral-700) var(--color-neutral-500);
  } */
}
