/** on home page */
@media (width < 1300px) {
  .sidenav {
    width: min(200px, 20vw);
  }
}

@media (width < 820px) {  
  .sidenav {
    width: 75px;

    & .logo-wrapper {
      background-color: unset;
      
      & a {
        display: flex;
        justify-content: center;
      }

      & img {
        width: 90%;
      }
    }

    & .nav-links {
      gap: var(--space-4);
    }

    & .link {
      grid-template-columns: 1fr;
      justify-items: center;

      .link-tag {
        display: none;
      }
    }
  }
}

@media (width < 520px) {
  .home-page {
    grid-template-columns: 1fr;
  }

  .home-content {
    grid-column: 1 / -1;
    padding-bottom: 5rem; /* TODO: calc it JS */
  }

  .sidenav {
    /* grid-column: 1 / -1;
    grid-row: 2 / 3; */
    width: 95%;
    height: unset;
    position: fixed;
    z-index: var(--z-100);
    bottom: 0.5rem;
    left: 50%;
    translate: -50% 0;
    border-radius: 3.5rem;
    /* outline: var(--outline-size-2) color-mix(in srgb, var(--color-neutral-400), transparent) solid;
    outline-offset: 0; */
    /*? wierd case... opacit/alpha-channel not working without fixed position */
    
    &::after {
      display: none;
    }

    &::before {
      content: "";
      position: absolute;
      z-index: var(--z-0);
      inset: 0;
      background-color: color-mix(in srgb, var(--color-neutral-700) 85%, transparent);
      backdrop-filter: blur(30px);
      border-radius: 3.5rem;
    }

    & .nav-links {
      margin-top: unset;
      flex-direction: row;
      justify-content: space-around;
    }

    & .link {
      padding: var(--space-3);
      width: unset;
      background-color: unset;
      color: var(--color-neutral-400);

      &.is-active {
        color: var(--color-neutral-200);

        & .dot {
          position: absolute;
          width: 4px;
          height: 4px;
          bottom: -1.15px;
          left: 50%;
          translate: -50% 0;
          border-radius: 100%;
          background-color: var(--color-neutral-300);
        }
      }

      & .icon {
        width: var(--icon-size-7);
      }
      
      & .icon:hover svg {
        stroke-width: 1pt;
        stroke-miterlimit: 10;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-dasharray: 400;
        animation: stroks 1s reverse ease-out;
      }
    }
  }
}

@keyframes stroks {
  100% {
    stroke-dashoffset: 400;
  }
}

@container main-container (width < 1300px) {
  .hero-section {
    padding-inline: var(--space-6);
  }

  .sections-container {
    margin-top: var(--space-8);
  }

  .screen-scetion {
    & .pointer {
      width: 1.25rem;

      & svg {
        width: 0.5rem;
      }
      
      & span {
        font-size: 0.15rem;
      }
    }
  }
}

@container main-container (width < 1150px) { 
  .hero-section {
    grid-template-columns: repeat(5, 1fr);
  }

  .hero-movie {
    grid-column: 1 / 5;
  }

  .grid-container {
    padding: var(--space-6);
  }

  .carousel-container {
    --img-width: 8.25rem;
    --gap: 0.75rem;
    grid-column: 5 / 6;
  }
}

@container main-container (width < 900px) {
  .hero-section {
    padding-inline: var(--space-5);
  }

  .hero-movie {
    grid-column: 1 / 6;
  }

  .carousel-container {
    display: none;
  }
}


@container grid-container (width < 820px) {
  .grid-item-title {
    grid-column: 1 / 5;
  }

  .title {
    font-size: min(50px, 2.5rem);
  }

  .release-date {
    margin-top: 2cqw;
  }

  .genres {
    font-size: 0.65rem;
  }

  .cta-btns {
    grid-column: 1 / 5;
    grid-row: 5 / 6;
    font-size: 0.75rem;
  }

  .tagline {
    grid-column: 1 / 3;
    font-size: 0.65rem;
  }

  .rate {
    grid-column: 5 / 6;
    justify-self: end;

    & .helper-div {
      flex-flow: row;
    }
  }

  .director {
    grid-column: 5 / 6;
    justify-self: end;
    width: max-content;

    & p:first-child {
      text-align: end;
      font-size: 0.6rem;
    }

    & .director-name {
      font-size: 0.75rem;
    }
  }

  .casts {
    display: none;
  }
}

@container grid-container (width < 600px) {
  .cta-btns {
    grid-column: 1 / 5;
    grid-row: 5 / 6;
  }

  .tagline {
    display: none;
  }
}

@container grid-container (width < 450px) {
  .grid-item-title {
    grid-column: 1 / 4;
    margin-top: 1rem;
    width: auto;
  }

  .title {
    font-size: 1.625rem;
  }

  .release-date {
    font-size: 1rem;
  }

  .cta-btns {
    font-size: 0.7rem;

    & .watch-btn {
      width: 5rem;

      & .icon {
        width: var(--icon-size-3);
      }
    }
  }
}


/** on results page */
@container movie-card (width > 165px) {
  .movie-card[data-type="result"] {
    & .title {
      font-size: calc(1rem + 1cqw);
    }

    & .vote-number {
      font-size: 1rem;
    }

    & .genres {
      gap: 3cqw;
    }

    & .genre {
      font-size: calc(0.5rem + 2cqw);
    }
  }
}

@container movie-card (width > 250px) {
  .movie-card[data-type="result"] {
    & .media-icon {
      width: 13cqw;
      height: 13cqw;
      top: 6cqw;
      left: 6cqw;
    }

    & .bookmark-icon {
      width: 13cqw;
      height: 13cqw;
    }

    & .star-icon {
      width: 6cqw;
      height: 6cqw;
    }

    & .genres {
      gap: 2cqw;
    }

    & .genre {
      padding: 2cqw;
      font-size: 0.875rem;
    }
  }
}
