.reservation-page {
  & .empty-msg {
    padding: var(--space-4) var(--space-2);
    line-height: 2;

    & a {
      text-decoration: underline;
      color: var(--color-accent-300);
    }
  }

  & .tickets-container {
    padding: var(--space-12);
    padding-bottom: 3.5rem;
    background-color: color-mix(in srgb, rgb(37 40 42 / 75%), rgb(47 137 227 / 50%) 10%);
    border-radius: 2rem;
    box-shadow: 0 5px 2rem rgb(11 15 17 / 20%);
  }
}
