.selected-movie {  
  & .main-details {
    bottom: 0.5rem;
  }

  & .cta-btns {
    gap: 1rem;

    & .btn {
      border-radius: var(--full-rounded);
      transition: color var(--duration-1) ease-in,
        background-color var(--duration-1) ease-in;
    }
  }

  & .related-content {
    margin-top: -1rem;
  }
}


@container main-container (inline-size < 720px) {
  .selected-movie {
    & .main-details {
      padding: 0 3rem 1rem !important;
    }
  }
}
