.selected-series {
  & .main-details {
    bottom: 4rem;
  }

  & .sm-credits {
    font-size: 0.85rem;

    & .heading {
      font-size: 1rem !important;
      font-weight: 500 !important;
      color: color-mix(var(--color-mode), var(--color-accent-400) 55%, transparent) !important;
    }

    & .creators {
      margin-top: 0.5rem;

      & .creator-name {
        margin-left: 5px;
      }

      & p:last-child span {
        display: none;
      }
    }
  }

  & .seasons-container {
    & .in-production-tag {
      margin-top: 6px;
      vertical-align: middle;
      font-size: 0.85rem;
      font-weight: normal;
      color: rgb(118 173 90);
    }

    & .seasons {
      padding-inline: 1rem;
      overflow-x: scroll;
      scrollbar-width: none;
      justify-content: flex-start;
      gap: 2rem;
  
      & .season {
        width: max(10%, 165px);
        /* width: 170px; */
        position: relative;
      }
  
      & .season-poster {
        border-radius: 1.5rem;
      }

      & .season-name {
        /* position: absolute;
        bottom: 0.5rem;
        z-index: var(--z-10); */
        font-size: 0.9rem;
      }
    }
  }
}


@container main-container (inline-size < 620px) {
  .selected-series {
    & .poster-wrapper {
      &::after {
        /* background-image: linear-gradient(rgb(11 15 17 / 20%) -10%, var(--color-neutral-950) 85%); */
        background-image: linear-gradient(
          transparent,
          color-mix(var(--color-mode), var(--color-neutral-950) 70%, transparent),
          var(--color-neutral-950) 93%
        );
      }
    }

    & .main-details {
      bottom: 3rem;
    }
  }
}

@container main-container (inline-size < 480px) {
  .selected-series {
    & .main-details {
      bottom: 0rem;
    }
  }
}
